@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAttendantAr.cshtml";
}

@section stylesAttendantLoginAr {
    <link href="~/Resources/Styles/Custom/customStyleAttendantLoginAr.css" rel="stylesheet" type="text/css" />
}

<section class="h-100 gradient-form" ng-controller="posAttendantLoginCtrl">
    <div class="py-5 h-100" style=" padding-top: 11rem !important; margin: 0 8em;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4" style="padding: 3rem 3rem 7rem 3rem !important; ">

                                <div class="text-center">
                                    <img src="~/Resources/Images/common/logo.png" alt="logo">
                                </div>

                                <form>
                                    <p class="signInLabel">سجّل الدخول إلى حسابك</p>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form2Example11" ng-model="username" class="form-control input-login-ho"
                                               placeholder="اسم المستخدم أو البريد الالكتروني" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        @*<input type="password" id="form2Example22" ng-model="password" class="form-control input-login-ho" placeholder="كلمة السر" />*@
                                        <input  maxlength="6" ng-keypress="filterValue($event)" aria-label="6-digit code" type="password" id="form2Example22" ng-model="password" class="form-control input-login-ho" placeholder="Password" />
                                    </div>

                                    <div class="pt-1 pb-1">
                                        <button ng-click="loginBtn(username, password)" class="btn btn-primary fa-lg gradient-custom-2 mb-3 login-span" style="height: auto !important; padding: 13px 37px; font-size: 22px !important;" type="button">
                                            تسجيل الدخول
                                        </button>
                                        @*<div class="custom-control custom-checkbox">
                                            <input class="custom-control-input custom-control-input-danger" type="checkbox" id="customCheckbox4" checked="">
                                            <label for="customCheckbox4" class="custom-control-label custom-checkbox-text">Remember Me</label>
                                        </div>*@
                                    </div>

                                    @*<div class="align-items-center pb-4" style="margin-top: 1em;">
                                        <span class="mb-0 me-2 lostAndRegister">Lost your password?</span>
                                        <span class="mb-0 me-2 lostAndRegister">Register Now</span>
                                    </div>*@

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="px-3 py-4 p-md-5 mx-md-4 touch" style="margin-top: 4em;">
                                <h4 class="mb-4" style="font-size: 35px;text-align: right;">ابقى على تواصل</h4>
                                <p class="small mb-0" style="font-size: 18px;text-align: right;direction: rtl;">
                                    تعمل محطات الأمانة في مجال تجارة و توزيع المحروقات وتتميز في تقديم أفضل الخدمات للزبائن بالتزامن مع الإلتزام الدائم بمعايير النزاهة والجودة والدقة في الكيل.
                                </p>
                                <div class="div-icons" style=" margin-top: 1.5em; padding: 1px; ">
                                    <img src="~/Resources/Images/HO/login-phone.png" class="login-icon" style=" float: right; margin-left: 1em; width: 2.8em;direction: ltr;" />
                                    <span class="login-icon-span" style=" display: block; text-align: right;">+961 00 000 000</span>
                                    <span class="login-icon-span2">الاثنين-الجمعة, 6 صباحا-9 مساء</span>
                                </div>
                                <div class="div-icons">
                                    <img src="~/Resources/Images/HO/login-email.png" class="login-icon" style="margin-left: 1em; width: 2.8em; float: right; " />
                                    <span class="login-icon-span" style="display: block; color:#C9002D;text-align: right;">example@email.com</span>
                                    <span class="login-icon-span2">online support</span>
                                </div>
                                <div class="div-icons">
                                    <img src="~/Resources/Images/HO/login-address.png" class="login-icon" style=" margin-left: 1em; width: 2.8em; float: right;" />
                                    <span class="login-icon-span" style=" display: block; text-align: right;">لبنان</span>
                                    <span class="login-icon-span2">حارة حريك, الشارع العريض</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>