<div class="modal-body">
    <div class="row" style="padding: 1em;">
        <div class="col-5" style="border-right: 1px solid #dee2e6;">

            <div class="calculator card">

                <div class="calculator-keys calculator-keys2">

                    <button type="button" class="all-clear function btn btn-danger btn-sm c-btn" ng-click="ClearFocusedField()" value="all-clear">C</button>
                    <button type="button" class="decimal function btn btn-secondary cal-grey-btn" ng-click="addDecimal('.')" value=".">.</button>
                    <button type="button" class="operator btn btn-info cal-grey-b-btn" ng-click="addOperator('/')" value="/" disabled>&divide;</button>
                    <button type="button" class="operator btn btn-info cal-grey-b-btn" ng-click="addOperator('+')" value="+" disabled>+</button>

                    <button type="button" value="1" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('1')">1</button>
                    <button type="button" value="2" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('2')">2</button>
                    <button type="button" value="3" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('3')">3</button>
                    <button type="button" class="operator btn btn-info cal-grey-b-btn" ng-click="addOperator('-')"  value="-" disabled>-</button>

                    <button type="button" value="4" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('4')">4</button>
                    <button type="button" value="5" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('5')">5</button>
                    <button type="button" value="6" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('6')">6</button>
                    <button type="button" class="operator btn btn-info cal-grey-b-btn " ng-click="addOperator('*')" value="*" disabled>&times;</button>


                    <button type="button" value="7" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('7')">7</button>
                    <button type="button" value="8" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('8')">8</button>
                    <button type="button" value="9" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('9')">9</button>
                    <button type="button" value="0" class="btn btn-light waves-effect cal-grey-b-btn" ng-click="addNumber('0')">0</button>

                </div>
            </div>
        </div>
        <div class="col-7">
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label>Barcode</label>
                        <input required ng-change="getProductBarcode()" type="text" ng-model="displayBarcodeResult" class="form-control form-control-lg" ng-focus="BarcodeFocus()" ng-blur="BarcodeBlur(displayBarcodeResult)">
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input required type="text" ng-model="displayQtyResult" class="form-control form-control-lg" ng-focus="QtyFocus()" ng-blur="QtyBlur(displayQtyResult)">
                    </div>
                    <div class="form-group" ng-show="showImage">
                        <div class="card-body barcode-img-body">
                            <img class="dry-item-img" src="{{product.image}}" />
                            <span class="card-title dry-item-title">{{product.barcode}}</span>
                            <span class="card-title dry-item-title2">{{product.name}}</span>
                            <span class="card-title dry-item-title2">{{product.sale_price}}$</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer wetTransPopupFooter"  ng-init="load()">
    <button type="button" class="btn btn-default clearbtn" data-dismiss="modal" ng-click="clearAll()">Clear</button>
    <button type="button" class="btn btn-primary nextbtn" ng-click="done()">Done</button>
</div>
