<!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row main-row-wetMenu">
                <div class="col-lg-4" ng-repeat="item in wetProductTypes">
                    <div class="card main-card-wetMenu" ng-click="displayWetTransactionPopup(item.name, item.id, item.priceMc, item.priceSc, item.type)">
                        <div class="card-body">
                            <img class="wet-menu-img" src="/Resources/Images/attendant/{{item.type}}.png" />
                            <span class="card-title">{{item.name}}</span>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-4">
        <div class="card main-card-wetMenu" ng-click="displayWetTransactionPopup('Fuel 95')">
            <div class="card-body">
                <img class="wet-menu-img" src="/Resources/Images/attendant/Group12491.png" />
                <span class="card-title">{{'fuel95' | translate}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card main-card-wetMenu" ng-click="displayWetTransactionPopup('Fuel 98')">
            <div class="card-body">
                <img class="wet-menu-img" src="/Resources/Images/attendant/Group12492.png" />
                <span class="card-title">{{'fuel98' | translate}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card main-card-wetMenu" ng-click="displayWetTransactionPopup('Red Diesel')">
            <div class="card-body">
                <img class="wet-menu-img" src="/Resources/Images/attendant/Group12486.png" />
                <span class="card-title">{{'reddiesel' | translate}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card main-card-wetMenu" ng-click="displayWetTransactionPopup('Green Diesel')">
            <div class="card-body">
                <img class="wet-menu-img" src="/Resources/Images/attendant/Group12487.png" />
                <span class="card-title">{{'greendiesel' | translate}}</span>
            </div>
        </div>
    </div>-->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->