<div class="modal-header" style="background: #F3F3F3; padding: 2rem;">
    
    <button type="button" class="close closeBtnPopup" data-dismiss="modal" ng-click="$dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style=" font-size: 26px;">
    <div class="row" style="padding: 1em;">
        <div class="col-5" style="border-right: 1px solid #dee2e6;">

            <div class="calculator card" style="margin-top: 3em;">

                <div class="calculator-keys calculator-keys2">

                    <button type="button" value="1" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('1')">1</button>
                    <button type="button" value="2" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('2')">2</button>
                    <button type="button" value="3" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('3')">3</button>

                    <button type="button" value="4" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('4')">4</button>
                    <button type="button" value="5" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('5')">5</button>
                    <button type="button" value="6" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('6')">6</button>


                    <button type="button" value="7" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('7')">7</button>
                    <button type="button" value="8" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('8')">8</button>
                    <button type="button" value="9" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('9')">9</button>

                    <button type="button" value="00" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('00')">00</button>
                    <button type="button" value="0" class="btn btn-light waves-effect cal-grey-btn" ng-click="addNumber('0')">0</button>
                    <button type="button" class="all-clear function btn btn-danger btn-sm cal-grey-btn" style="background: #D7060E; color: #fff; font-family: cursive; " ng-click="ClearFocusedField()" value="all-clear"><</button>


                </div>

            </div>
        </div>
        <div class="col-7">
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label>{{'product' | translate}}</label>
                        <input style="font-size: 26px;" value="{{wetName}}" disabled class="form-control form-control-lg" >
                    </div>
                    <div class="form-group">
                        <label>{{'qty' | translate}}</label>
                        <input  autofocus style="font-size: 26px;" required type="text" ng-model="displayQtyResult" ng-change="ValueChanged(displayQtyResult, 'qty')" class="form-control form-control-lg" ng-focus="QtyFocus()" ng-blur="QtyBlur(displayQtyResult)">
                    </div>
                    <div class="form-group">
                        <label>{{'priceLL' | translate}}</label>
                        <input style="font-size: 26px;"  type="text" ng-disabled="disableField" ng-model="displayPriceResult" ng-change="ValueChanged(displayPriceResult, 'LL')" class="form-control form-control-lg" ng-focus="PriceFocus()" ng-blur="PriceBlur(displayPriceResult)">
                    </div>
                    <div class="form-group">
                        <label>{{'priceDollar' | translate}}</label>
                        <input  style="font-size: 26px;" type="text" ng-disabled="disableField" ng-model="displayPriceDollarResult" ng-change="ValueChanged(displayPriceDollarResult, 'dollar')" class="form-control form-control-lg" ng-focus="PriceDollarFocus()" ng-blur="PriceDollarBlur(displayPriceDollarResult)">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer wetTransPopupFooter"  ng-init="load()">
    <button type="button" class="btn btn-default clearbtn" data-dismiss="modal" ng-click="clearAll()">{{'clear' | translate}}</button>
    <button type="button" class="btn btn-primary nextbtn" ng-click="next()">{{'done' | translate}}</button>
</div>
