<div class="modal-header" style="background: #F3F3F3;">
    <div class="popUpHeader">
        <h5 class="modal-title">{{transactionItem.id}}</h5>
        <!--<h6 class="modal-title">Invoice ID - Type - Way of Payment - Employee - Amount</h6>-->
    </div>
    <!--<button type="button" class="close closeBtnPopup" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>-->
</div>
<div class="modal-body">
    <div class="row" style="padding: 1em;">
        <div class="col-2" style="border-right: 1px solid #dee2e6;">
            <span class="PopUpFuelHeaderTitleSpan"> {{'fuelTransId' | translate}} </span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">{{transactionItem.id}}</span>
        </div>
        <div class="col-1">
            <span class="PopUpFuelHeaderTitleSpan">{{'Type' | translate}}</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">{{transactionItem.category}}</span>
        </div>
        <div class="col-1">
            <span class="PopUpFuelHeaderTitleSpan">{{'Amount' | translate}}</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">{{transactionItem.amount}}</span>
        </div>
        <!--<div class="col-2" style="border-right: 1px solid #dee2e6;">
            <span class="PopUpFuelHeaderTitleSpan">WAY OF PAYMENT</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">{{wop}}</span>
        </div>-->
        <div class="col-3" style="padding-left: 15px;">
            <span class="PopUpFuelHeaderTitleSpan">{{'CreationDate' | translate}}</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">{{transactionItem.creationDate}}</span>
        </div>
        <div class="col-2" style="padding-left: 10px;">
            <span class="PopUpFuelHeaderTitleSpan">{{'CreatedBy' | translate}}</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">{{transactionItem.creator}}</span>
        </div>
    </div>
    <div class="row trans-credit-sec" style="">
        <div class="col-1">
            <span class="PopUpFuelHeaderTitleSpanBold">{{'card' | translate}}</span>
        </div>
        <div class="col-1">
            <span class="PopUpFuelHeaderTitleSpan">{{'dollar2' | translate}}</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">${{transactionItem.bigTransCardDollar}}</span>
        </div>
        <div class="col-1" style="border-right: 1px solid #dee2e6;">
            <span class="PopUpFuelHeaderTitleSpan">{{'LEBANESE' | translate}}</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">{{transactionItem.bigTransCardLL}} {{'LL' | translate}}</span>
        </div>
        <div class="col-1">
            <span class="PopUpFuelHeaderTitleSpanBold">{{'cash' | translate}}</span>
        </div>
        <div class="col-1">
            <span class="PopUpFuelHeaderTitleSpan">{{'dollar2' | translate}}</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">${{transactionItem.bigTransCashDollar}}</span>
        </div>
        <div class="col-1" style="border-right: 1px solid #dee2e6;">
            <span class="PopUpFuelHeaderTitleSpan">{{'LEBANESE' | translate}}</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">{{transactionItem.bigTransCashLL}} {{'LL' | translate}}</span>
        </div>
        <div class="col-3">
            <span class="PopUpFuelHeaderTitleSpan">{{'Total' | translate}}</span> <br />
            <span class="PopUpFuelHeaderTitleSpanValue">{{transactionItem.bigTransTotalLL}} {{'LL' | translate}}/{{transactionItem.bigTransTotalDollar}} $</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!--<button type="button" class="btn  exportBtn-trans" data-dismiss="modal">{{'Export' | translate}}</button>-->
    <button type="button" class="btn  printBtn-trans">{{'Print' | translate}}</button>
</div>
