@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

@Html.Partial("_navbar")

@Html.Partial("_sidebar")

<div class="content-wrapper wrapper-custom" >

    @*<div ui-view style="position:relative"></div>*@
    <div ui-view ></div>


</div>
