@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

@Html.Partial("_navbar")

@Html.Partial("_sidebar")

<div class="content-wrapper" style="margin-left: 0.6em;">

    <div ui-view style="position:relative"></div>
</div>
