@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

@section stylesSMLoginAr {
    <link href="~/Resources/Styles/Custom/customStyleHOLoginAr.css" rel="stylesheet" type="text/css" />
}

<section class="h-100 gradient-form" ng-controller="smLoginCtrl">
    <div class="container py-5 h-100" style="padding-top: 2rem !important;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="~/Resources/Images/common/logo.png" alt="logo">
                                </div>

                                <form>
                                    <p class="signInLabel">Sign In to Your Account</p>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form2Example11" ng-model="username" class="form-control input-login-ho"
                                               placeholder="Username or Email" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="form2Example22" ng-model="password" class="form-control input-login-ho" placeholder="Password" />
                                        @*<input  maxlength="6" ng-keypress="filterValue($event)" aria-label="6-digit code" type="password" id="form2Example22" ng-model="password" class="form-control input-login-ho" placeholder="Password" />*@

                                    </div>

                                    <div class="pt-1 pb-1">
                                        <button ng-click="loginBtn(username, password)" class="btn btn-primary fa-lg gradient-custom-2 mb-3 login-span" type="button">
                                            Login Now
                                        </button>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input custom-control-input-danger" type="checkbox" id="customCheckbox4" checked="">
                                            <label for="customCheckbox4" class="custom-control-label custom-checkbox-text">Remember Me</label>
                                        </div>
                                    </div>

                                    <div class="align-items-center pb-4">
                                        <span class="mb-0 me-2 lostAndRegister">Lost your password?</span>
                                        <span class="mb-0 me-2 lostAndRegister">Register Now</span>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="px-3 py-4 p-md-5 mx-md-4 touch">
                                <h4 class="mb-4">Get In Touch</h4>
                                <p class="small mb-0">
                                    Lorem ipsum dolor sit amet, duis metus ligula amet in purus, vitae donec vestibulum enim, tincidunt massa sit, convallis ipsum.
                                </p>
                                <div class="div-icons">
                                    <img src="~/Resources/Images/HO/login-phone.png" class="login-icon" />
                                    <span class="login-icon-span" style="display: block;">+961 00 000 000</span>
                                    <span class="login-icon-span2">Mon-Fri 9am-6pm</span>
                                </div>
                                <div class="div-icons">
                                    <img src="~/Resources/Images/HO/login-email.png" class="login-icon" />
                                    <span class="login-icon-span" style="display: block; color:#C9002D">example@email.com</span>
                                    <span class="login-icon-span2">online support</span>
                                </div>
                                <div class="div-icons">
                                    <img src="~/Resources/Images/HO/login-address.png" class="login-icon" />
                                    <span class="login-icon-span" style="display: block;">Lebanon</span>
                                    <span class="login-icon-span2">Beirut, Main Street</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>