<div class="modal-header">
    <h5 class="modal-title">TW1234 - Source Station Name - Destination Station Name </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row" style="padding: 1em;">
        <table class="table  text-nowrap transfer-popup-table">
            <thead>
                <tr>
                    <th>Transfer ID</th>
                    <th>Created By</th>
                    <th>Creation Date</th>
                    <th>Source Station</th>
                    <th>Destination Station</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>183</td>
                    <td>John Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="tag tag-success">Approved</span></td>
                    <td>50000</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" style="padding: 1em;">
        <label>Destination Station</label>
    </div>


    <div class="row" style="padding: 1em;">
        <label>Transfer Information</label>
        <table class="table  text-nowrap transfer-popup-table">
            <thead>
                <tr>
                    <th></th>
                    <th class="th-rect"><span class="transfer-half-rectangle"></span></th>
                    <th class="th-text">Type</th>
                    <th class="th-text">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td><span class="transfer-half-rectangle2"></span></td>
                    <td>Fuel 98</td>
                    <td>500L</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th></th>
                    <th><span class="transfer-half-rectangle"></span></th>
                    <th>Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Fuel 98</td>
                    <td>500L</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary">Confirm</button>
</div>
