<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2" style=" margin-bottom: 1em !important; margin-left: 0.2em;">
            <div class="col-sm-6">
                <a ui-sref="pos.shifts" class="nav-link back-btn">
                    < Back
                </a>
                <h1 class="pos-section-title">Shifts</h1>
                <span class="history-subtitle">Shifts History</span>
            </div>
        </div>
        <div class="row col-sm-12" style="padding-right: 0;">
            <div class="col-sm-3">
                <label class="date-filter-label">From </label>
                <input class="form-control col-12" type="date" ng-model="dateFrom" />
            </div>
            <div class="col-sm-3">
                <label class="date-filter-label">To </label>
                <input class="form-control col-12" type="date" ng-model="dateTo" />
            </div>
            <div class="col-sm-3">
                <span ng-click="getShiftsHistory(dateFrom, dateTo)" class="history-clear-btn">Filter</span>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content ff">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-table-trans">
                    <div class="card-body table-responsive p-0">
                        <table id="dataTableId" table-jquery class="table  table-condensed text-nowrap table-trans" style="margin-top: 1em !important;">
                            <thead>
                                <tr>
                                    <th style="width: 20%">
                                        SHIFT ID
                                    </th>
                                    <th style="width: 18%">
                                        SHIFT NUMBER
                                    </th>
                                    <th style="width: 18%">
                                        EMPLOYEE
                                    </th>
                                    <th style="width: 18%">
                                        NUZZLE
                                    </th>
                                    <th style="width: 18%">
                                        TIME AND DATE
                                    </th>
                                    <th style="width: 18%">
                                        TOTAL
                                    </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in shiftsHistoryList" ng-click="goToReceiptInfo(item)">
                                    <td>{{item.id}}</td>
                                    <td>{{item.shiftNumber}}</td>
                                    <td>{{item.employeeName}}</td>
                                    <td>{{item.nozzleCounter.length}}</td>
                                    <td>{{item.dateOfCreation}}</td>
                                    <td>{{item.totalLbp}} L.L <br /> {{item.totalUsd}} $</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
