<div class="modal-body">
    <div class="container row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row main-row">
                        <div class="col-lg-4">
                            <div class="card submenu-main-card" style="background: #D80404;">
                                <div class="card-body">
                                    <a ui-sref="main2.all" class="nav-link">
                                        <span class="">Wet Product</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card submenu-main-card" style="background: #32ACD1;">
                                <div class="card-body">
                                    <a ui-sref="main2.wetProducts" class="nav-link">
                                        <span class="">Dry Product</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card submenu-main-card" style="background: #2B2C2C;">
                                <div class="card-body">
                                    <a ui-sref="main2.dryProducts" class="nav-link">
                                        <span class="">Car Wash</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card submenu-main-card" style="background: #2B2C2C;">
                                <div class="card-body">
                                    <a ui-sref="main2.carWashProducts" class="nav-link">
                                        <span class="">Car Wash</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer wetTransPopupFooter editPoppupFooter">
    <button type="button" class="btn btn-default clearbtn" data-dismiss="modal" ng-click="">CANCEL</button>
    <button type="button" class="btn btn-primary nextbtn" ng-click="">DONE</button>
</div>
