

<section class="h-100 gradient-form" id="custom-modal-employee-login"  >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="text-center">
                <img style="width: 14em;" src="/Resources/Images/common/logo.png" alt="logo">
            </div>
            <div class="col-xl-12">
                <div class="rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">



                                <div class="row" style="overflow: scroll; height: 500px;">

                                    <div class="col-3 d-flex align-items-stretch flex-column" style="margin-bottom:2em;" ng-repeat="user in employeesList">
                                        <div class="card-body pt-0" ng-click="showPinCodePopup(user.employee)">
                                            <div class="col-12 text-center">
                                                <img src="/Resources//Images/attendant/employee/user2-160x160.jpg" alt="user-avatar" class="img-circle img-fluid" style="border: 1px solid #000;">
                                                <label>{{user.employee}}</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>