<div class="content-wrapper main2-wrapper">
    <div class="content main-content">
        <div>
            <div class="row main-center-row">
                <div class="col-lg-3">
                    <div class="card main2-left-card">
                        <div class="col-md-12">
                            <!--<div class="form-group">
                                <label>Customer</label>
                                <input placeholder="name.."  class="form-control form-control-lg" >
                            </div>-->
                            <table class="trans-table table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>TRAN.ID</th>
                                        <th>AMOUNT</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="trans in transactionsList">
                                        <td>{{trans.id}}</td>
                                        <td>{{trans.productType == 'Fuel'? trans.qty + ' L': trans.productType == 'Service'?  trans.qty + ' service(s)' : trans.productType == 'Car wash'? trans.qty + ' Car wash' : trans.qty + ' item(s)' }}</td>
                                        <td>{{trans.priceLL}} L.L (${{trans.priceDollar}})</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="total-table">
                                <tr  ng-class="totalLabelDryAndWet">
                                    <td>Total</td>
                                    <td>
                                        <span>{{transTotalLebanese}}</span>
                                        <br />
                                        <span>{{transTotalDollar}}</span>
                                    </td>
                                </tr>
                            </table>
                            <button class="edit-btn" ng-click="displayEditTransactionsPopup()">Edit</button>
                        </div>
                    </div>
                    <div class="calculator card ">

                        <input style="display:none;" type="text" class="calculator-screen z-depth-1" value="" disabled  />

                        <div class="calculator-keys calculator-keys2">

                            <button type="button" class="all-clear function btn btn-danger btn-sm c-btn" ng-click="dryClearFocusedField()" value="all-clear">C</button>
                            <button type="button" class="decimal function btn btn-secondary cal-grey-btn" ng-click="dryAddDecimal('.')" value=".">.</button>
                            <button type="button" class="operator btn btn-info cal-grey-b-btn" ng-click="addOperator('/')" value="/" disabled>&divide;</button>
                            <button type="button" class="operator btn btn-info cal-grey-b-btn" ng-click="addOperator('+')" value="+" disabled>+</button>

                            <button type="button" value="1" class="btn btn-light waves-effect cal-grey-btn" ng-click="dryAddNumber('1')">1</button>
                            <button type="button" value="2" class="btn btn-light waves-effect cal-grey-btn" ng-click="dryAddNumber('2')">2</button>
                            <button type="button" value="3" class="btn btn-light waves-effect cal-grey-btn" ng-click="dryAddNumber('3')">3</button>
                            <button type="button" class="operator btn btn-info cal-grey-b-btn" ng-click="addOperator('-')" value="-" disabled>-</button>

                            <button type="button" value="4" class="btn btn-light waves-effect cal-grey-btn" ng-click="dryAddNumber('4')">4</button>
                            <button type="button" value="5" class="btn btn-light waves-effect cal-grey-btn" ng-click="dryAddNumber('5')">5</button>
                            <button type="button" value="6" class="btn btn-light waves-effect cal-grey-btn" ng-click="dryAddNumber('6')">6</button>
                            <button type="button" class="operator btn btn-info cal-grey-b-btn " ng-click="addOperator('*')" value="*" disabled>&times;</button>


                            <button type="button" value="7" class="btn btn-light waves-effect cal-grey-btn" ng-click="dryAddNumber('7')">7</button>
                            <button type="button" value="8" class="btn btn-light waves-effect cal-grey-btn" ng-click="dryAddNumber('8')">8</button>
                            <button type="button" value="9" class="btn btn-light waves-effect cal-grey-btn" ng-click="dryAddNumber('9')">9</button>
                            <button type="button" value="0" class="btn btn-light waves-effect cal-grey-b-btn" ng-click="dryAddNumber('0')">0</button>


                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card main2-right-card">
                        <div class="card-body">
                            <div class="row main-row">
                                <div class="col-lg-4" ng-show="showMenuWet">
                                    <div class="card submenu-main-card" style="background: #D80404;">
                                        <div class="card-body">
                                            <a ui-sref="main2.wetMenu" class="nav-link">
                                                <span class="">{{'wetproduct' | translate}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" ng-show="showMenuDry">
                                    <div class="card submenu-main-card" style="background: #32ACD1;">
                                        <div class="card-body">
                                            <a ui-sref="main2.dryMenu" class="nav-link">
                                                <span class="">{{'dryproduct' | translate}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" ng-show="showMenuCar">
                                    <div class="card submenu-main-card" style="background: #2B2C2C;">
                                        <div class="card-body">
                                            <a ui-sref="main2.carWashMenu" class="nav-link">
                                                <span class="">{{'carwash' | translate}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div ui-view></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

</div>
<!-- /.content-wrapper -->
<!-- Main Footer -->
<footer class="main-footer main2-bottom-menu">
    <div class="row main-row menu-row">
        <div class="">
            <div class="card fuel-menu-card" style="background:#D7060E" ng-click="displayWetWayOfPaymentPopup()">
                <div class="card-body">
                    <span class="card-title">{{'pay' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="" ng-show="showMenuDry">
            <div class="card fuel-menu-card" style="background:#2B2C2C" ng-click="displayOilChangePopup()">
                <div class="card-body">
                    <span class="card-title">{{'oilChange' | translate}}</span>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-2">
        <div class="card fuel-menu-card" style="background:#78B629" ng-click="displayReceiptPopup()">
            <div class="card-body">
                <span class="card-title">{{'createreceipt' | translate}}</span>
            </div>
        </div>
    </div>-->
        <div class="">
            <div class="card fuel-menu-card" style="background:#D7060E" ng-click="openShiftPopup()">
                <div class="card-body">
                    <span class="card-title">{{'openshift' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card  fuel-menu-card" style="background:#2B2C2C" ng-click="closeShiftPopup()">
                <div class="card-body">
                    <span class="card-title">{{'closeshift' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card fuel-menu-card" style="background: #6F6F6F">
                <div class="card-body">
                    <span class="card-title">{{'refund' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</footer>