

<section class="h-100 gradient-form" id="custom-modal-pincode" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img style="width: 14em;" src="/Resources/Images/common/logo.png" alt="logo">
                                </div>

                                <form>
                                    <p class="pincode-title">{{ 'useCode' | translate}}</p>

                                    <div class="form-outline mb-4">
                                        <input type="password" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  maxlength="6" id="pin" required ng-model="pinCodeValue" class="form-control input-pincode" placeholder="{{ 'code2' | translate}}" style="text-align:center;" />
                                    </div>

                                    <div class="pt-1 pb-1">
                                        <button ng-click="backBtnClicked(pinCodeValue)" class="btn btn-primary fa-lg gradient-custom-2 mb-3 col-12 pincode-btn" type="button">
                                            {{ 'done' | translate}}
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>