<div class="modal-header" style="background: #F3F3F3;">
    <div class="popUpHeader">
        <h5 class="modal-title">Creating a New Subscription</h5>
    </div>
    <button id="close-cross-button" type="button" class="close closeBtnPopup" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row generator-new-customer-row" style="padding: 1em;">
        <div class="col-4">
            <div class="form-group">
                <label>Customer Name</label>
                <input class="form-control" ng-model="customerNameInputfield" disabled />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Customer ID</label>
                <input class="form-control" ng-model="customerIdInputfield" disabled />
            </div>
        </div>
        <!--<div class="col-4">
            <div class="form-group">
                <label>Mobile</label>
                <input class="form-control" ng-model="phone_number" />
            </div>
        </div>-->
    </div>
    <div class="row generator-new-customer-row" style="padding: 1em; border-bottom: 1px solid #dee2e6;">
        <div class="col-4">
            <div class="form-group">
                <label>Generator Type</label>
                <select id="serviceType" class="form-control" ng-model="service_type" ng-click="handleServiceTypeChanged($event)">
                    <option selected>OPEN_USAGE</option>
                    <option>PAY_AS_YOU_GO</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Ampere Size</label>
                <input id="ampsSize" class="form-control" type="number" ng-model="amps_size" ng-blur="setMonthlyFees()"/>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Monthly Fees</label>
                <input class="form-control" ng-model="monthly_fees" disabled/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="cancel-button" type="button" class="btn btn-default generator-cancel-btn" data-dismiss="modal" ng-click="closeModal()">CANCEL</button>
    <button id="create-button" type="button" class="btn btn-primary generator-create-btn" ng-click="createSubscription()">CREATE</button>
</div>
