<div class="modal-header" style="background: #F3F3F3;">
    <div class="popUpHeader">
        <h5 class="modal-title">G1234 - Customer Name </h5>
        <h6 class="modal-title">G1234 - Customer Name</h6>
    </div>
    <button type="button" class="close closeBtnPopup" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="padding: 2rem;">

    <div class="row" style="padding: 1em; border-bottom: 1px solid #E6E6E6; margin-bottom: 4em;">
        <div class="col-3" >
            <span class="PopUpFuelHeaderTitleSpan">Customer ID</span> <br />
            <span>G1234</span>
        </div>
        <div class="col-3" style="padding-left: 1em;">
            <span class="PopUpFuelHeaderTitleSpan">Customer Name</span> <br />
            <span>ali walid</span>
        </div>
        <div class="col-2">
            <span class="PopUpFuelHeaderTitleSpan">Mobile</span> <br />
            <span>+961-0-000000</span>
        </div>
        <div class="col-2" >
            <span class="PopUpFuelHeaderTitleSpan">Type </span> <br />
            <span>AM - KW</span>
        </div>
        <div class="col-2" >
            <span class="PopUpFuelHeaderTitleSpan">Monthly Fees</span> <br />
            <span>30$</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-header" style="padding-left: 0;">
                <div class="row">
                    <div class="col-12">
                        <span ng-click="allClicked()" class="receipt-all-box" id="clear2-filters"><span id="allTab" class=" fa-times-circle "></span>&nbsp;All</span>
                        <label ng-click="payClicked()" class="receipt-checkbox-label" id="pay-filters"><input id="transfer-checkbox" type="checkbox" value="corncob" class="filter-item " />Paid</label>&nbsp;&nbsp;
                        <label ng-click="unPaidClicked()" class="receipt-checkbox-label" id="unPaid-filters"><input type="checkbox" value="rebar" class="filter-item transfer-checkbox" />Unpaid</label>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="">

                <div class="card-body table-responsive p-0">
                    <table id="dataTableCustomerInvoicesId" customerinvoices-table class="table table-hover  table-condensed text-nowrap table-invoices">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    Invoice ID
                                </th>
                                <th style="width: 10%">
                                    Generator Type
                                </th>
                                <th style="width: 10%">
                                    Range
                                </th>
                                <th style="width: 10%">
                                    Consuming
                                </th>
                                <th style="width: 10%">
                                    Price /1 kW
                                </th>
                                <th style="width: 10%">
                                    Total
                                </th>
                                <th style="width: 10%">

                                </th>
                                <th style="width: 10%; display: none">
                                    isPaid
                                </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in invoicesList" ng-click="item.isPaid == 'unPaid'? showInvoiceDetailUnPaid():showInvoiceDetailPaid()">
                                <td>{{item.id}}</td>
                                <td>{{item.type}}</td>
                                <td>{{item.range}}</td>
                                <td>{{item.consuming}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.total}}</td>
                                <td>
                                    <span ng-show="item.isPaid == 'unPaid'" class="receipt-add-btn" ng-click="payInvoice(item)"> Pay </span>
                                </td>
                                <td style="display:none">{{item.isPaid}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</div>