<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2" style=" margin-bottom: 1em !important; margin-left: 0.2em;">
            <div class="col-sm-6">
                <a ui-sref="pos.generator" class="nav-link back-btn" href="#!/pos/generator">
                    &lt; Back
                </a>
                <h1 class="pos-section-title">Generator Invoices</h1>
            </div>
        </div>
        <div class="row col-sm-12" style="margin-top: 2em;">
            <div class="col-sm-4">
                    <button class="generator-filter-button" ng-click="filterTable($event, '')" id="clear-filters">All</button>
                    <button class="generator-filter-button" ng-click="filterTable($event, 'kw')" id="kw-filter">KW</button>
                    <button class="generator-filter-button" ng-click="filterTable($event, 'ampere')"  id="ampere-filter">Ampere</button>
            </div>
            <div class="col-sm-8">
                <div class="input-group input-group-sm input-group-receipts">
                    <span ng-click="goToHistoryPage()" style="cursor: pointer" class="receipts-history-btn">History</span>
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input id="generatorSearchTextField" type="search" name="table_search" class="form-control float-right" placeholder="Search">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content ff">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-table-generator">
                    <div class="card-body table-responsive p-0">
                        <table id="dataTableId" table-jquery  class="table table-hover  table-condensed text-nowrap table-trans">
                            <thead>
                                <tr>
                                    <th style="width: 10%">ID</th>
                                    <th style="width: 15%">CUSTOMERS</th>
                                    <th style="width: 15%">TYPE</th>
                                    <th style="width: 15%">MOBILE</th>
                                    <th style="width: 15%">INVOICES</th>
                                    <th style="width: 15%">Total Amount</th>
                                    <th style="width: 15%">STATUS</th>
</thead>
                            <tbody>
                                <tr ng-repeat="item in GeneratorList" ng-click="goToCustomerInvoices(item)">
                                    <td>{{item.id}}</td>
                                    <td>{{item.Customer}}</td>
                                    <td>{{item.Type}}</td>
                                    <td>{{item.Mobile}}</td>
                                    <td>{{item.Invoice}}</td>
                                    <td>{{item.unPaid}}</td>
                                    <td>{{item.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->


