<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content ff">
    <div class="container-fluid">

        <div class="col-12">
            <div class="card-header" style="border-bottom: none;">
                <a ng-click="goBack()" class="nav-link back-btn" style=" color: #000;cursor: pointer;padding:0; cursor: pointer;">
                    < {{ 'back' | translate }}
                </a>
                <h3 class="receiptInfo-title">{{ 'MoneyDelivery' | translate }}</h3>
                <h6 class="receiptInfo-subTitle">{{ delivery.id }} - {{ delivery.creator }} - {{ delivery.collectorName }}</h6>
            </div>
        </div>


        <div class="card modal-body" style="margin: 1.7em;">

            <div class="row" style="padding: 1em;">
                <table class="table  text-nowrap transfer-popup-table reception-table-info">
                    <thead>
                        <tr>
                            <th>{{ 'ID' | translate }}</th>
                            <th>{{ 'CreationBy' | translate }}</th>
                            <th>{{ 'CreationDate' | translate }}</th>
                            <th>{{ 'CollectorName' | translate }}</th>
                            <th>{{ 'CollectorPhoneNumber' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ delivery.id }}</td>
                            <td>{{ delivery.creator}}</td>
                            <td>{{ delivery.creationDate }}</td>
                            <td>{{ delivery.collectorName }}</td>
                            <td>{{ delivery.collectorMobile }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" style="padding: 1em;">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <table class="table text-nowrap money-form-table col-md-4" style=" margin: 1em 3em 6em 1em;">
                        <thead>
                            <tr>
                                <th class="th-text">{{ 'LBP_CLASS' | translate }}</th>
                                <th class="th-text">{{ 'quantity' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in delivery.lbp_Amounts">
                                <td>{{ key }}</td>
                                <td><input type="number" id="{{ key }}" class="form-control" weight="{{ key }}" value="{{ value }}" disabled /></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table text-nowrap money-form-table col-md-4" style=" margin: 1em 5em 6em 1em;">
                        <thead>
                            <tr>
                                <th class="th-text">{{ 'USD_CLASS' | translate }}</th>
                                <th class="th-text">{{ 'quantity' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, value) in delivery.usd_Amounts">
                                <td>{{ key }}</td>
                                <td><input type="number" id="{{ key }}" class="form-control" weight="{{ key }}" value="{{ value }}" disabled /></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row totalTable">
                        <table>
                            <thead>
                                <tr>
                                    <td>{{ 'TotalInLebaneseLira' | translate}}</td>
                                    <td>{{ delivery.totalLbp }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'TotalInUSD' | translate}}</td>
                                    <td>{{ delivery.totalUsd }}</td>
                                </tr>
                            </thead>
                        </table>
                    </div>


                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row" style="padding: 1em;">
                <label>{{ 'Attachments' | translate }}</label>
                <br />
                <img style=" width: 21em; margin-top: 5em;" ng-src="data:image/png;base64, {{ delivery.files[0].base64encoded }}" alt="Red dot" />
            </div>

            <div class="row" style="padding: 1em;">
                <label>{{ 'Bank' | translate }}</label>
                <table class="table text-nowrap transfer-popup-table" style="margin-bottom: 0rem;">
                    <thead>
                        <tr>
                            <th class="th-rect"><span class="transfer-half-rectangle"></span></th>
                            <th class="" style="width: 1%;"></th>
                            <th class="">{{ 'BanKName' | translate }}</th>
                            <th class="">{{ 'BankAddress' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="transfer-half-rectangle3"></span></td>
                            <td></td>
                            <td><input class="form-control" value="{{ delivery.bankName }}" disabled /></td>
                            <td><input class="form-control" value="{{ delivery.bankAddress }}" disabled /></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        
    </div>
</section>