<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 style=" font-family: 'rubikMedium'; margin-left: 0.6em;">{{ 'MoneyDelivery' | translate }}</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="">
        <div class="card-body">
            <div>
                <div class="row" style="flex-direction: row-reverse; width: 90%; margin: auto;">
                    <span ng-click="goToMoneyHistory()" style="cursor: pointer" class="receipts-history-btn">{{ 'HistoryMoneyDelivery' | translate }}</span>
                    <span ng-click="goToMoneyForm()" style="cursor: pointer" class="receipts-create-btn">{{ 'CreateNewDeliveryOrder' | translate }}</span>
                </div>

                <div id="transferProducts" class="transfer-items">
                    <h1 ng-if="mds.length == 0">{{ 'noDataFound' | translate }}</h1>
                    <div class="col-md-12 pink corncob rebar product-block item card bg-light" ng-repeat="md in mds" ng-click="viewMoneyDelivery(md)">
                        <div class="card-header text-muted border-bottom-0">

                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-9">
                                    <h2 style="display: inline; font-size: 17px; font-family: 'rubikMedium'; font-weight: 100;">
                                        {{ md.id }} - {{ md.creator }} - {{ md.collectorName }}
                                    </h2>
                                    <table class="table reception-item-table">
                                        <tr>
                                            <th>{{ 'BanKName' | translate }}</th>
                                            <th>{{ 'CreationDate' | translate }}</th>
                                            <th>{{ 'SentBy' | translate }}</th>
                                        </tr>
                                        <tr>
                                            <td style="color:red; font-weight: bold">{{ md.bankName }} - {{ md.bankAddress }}</td>
                                            <td>{{ md.creationDate }}</td>
                                            <td>{{ 'SalesManager' | translate }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
