<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content ff">
    <div class="container-fluid">

        <div class="col-12">
            <div class="card-header" style="border-bottom: none;">
                <a ui-sref="pos.money" class="nav-link" style=" color: #000;cursor: pointer;padding:0; cursor: pointer;">
                    < Back
                </a>
                <h3 class="receiptInfo-title">Money Delivery</h3>
                <h6 class="receiptInfo-subTitle">Receipts ID - Way of Payment - Employee - Amount</h6>
            </div>
        </div>


        <div class="card modal-body" style="margin: 1.7em;">

            <div class="row" style="padding: 1em;">
                <table class="table  text-nowrap transfer-popup-table reception-table-info">
                    <thead>
                        <tr>
                            <th>RECEPTION ID</th>
                            <th>SENDER BY</th>
                            <th>CREATION DATE</th>
                            <th>RECEIVING DATE</th>
                            <th>SUPPLIER NAME</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>183</td>
                            <td>John Doe</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-success">Approved</span></td>
                            <td>50000</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div>

                <label style=" width: 100%; margin-bottom: 0.1em; padding: 1em 1em 0em 1em;">Driver and truck data</label>

                <div class="row col-md-12">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Reference Number</label>
                            <input class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Collector Name</label>
                            <input class="form-control"  />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Collector Mobile</label>
                            <input class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Station Manager</label>
                            <input class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Creation Date</label>
                            <input class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Creation Time</label>
                            <input class="form-control" disabled />
                        </div>
                    </div>
                </div>

                <div class="row" style="padding: 1em;">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <table class="table text-nowrap money-form-table col-md-4" style=" margin: 1em 5em 6em 1em;">
                            <thead>
                                <tr>
                                    <th class="th-text">USD CLASS</th>
                                    <th class="th-text">QUANTITY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>100</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>50</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <table class="table text-nowrap money-form-table  col-md-4" style=" margin: 1em 3em 6em 1em;">
                            <thead>
                                <tr>
                                    <th class="th-text">LBP CLASS</th>
                                    <th class="th-text">QUANTITY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1000000</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>50000</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>20000</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>10000</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>5000</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>1000</td>
                                    <td>
                                        <input type="text" class="form-control " />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row  totalTable">

                            <table>
                                <thead>
                                    <tr>
                                        <td>Total in Lebanese LIra</td>
                                        <td>323222</td>
                                    </tr>
                                    <tr>
                                        <td>Total in Dollar</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td>323222</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>


                    </div>
                </div>


            </div>

            <div class="row" style="padding: 1em;">
                <label>Attachments</label>
                <table class="table  text-nowrap transfer-popup-table" ng-repeat="choice in choices" style="margin-bottom: 0rem;">
                    <thead>
                        <tr>
                            <th class="th-rect"><span class="transfer-half-rectangle"></span></th>
                            <th class="" style="width: 1%;"></th>
                            <th class="">Type</th>
                            <th class="">SUBTANK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="transfer-half-rectangle3"></span>
                            </td>
                            <td>
                                <img style="cursor:pointer; margin-top:0;" class="form-group remove-icon" src="/Resources/Images/remove-icon.png" ng-click="removeChoice(choice.id)" />

                            </td>
                            <td>
                                <input class="form-control" ng-model="choice.name" />
                            </td>
                            <td><input class="form-control" ng-model="choice.name" /></td>
                        </tr>
                    </tbody>

                </table>
                <img class="form-group add-btn" style="cursor:pointer;padding: 0 3em;" ng-click="addNewChoice()" src="/Resources/Images/add-btn.png" />
            </div>

            <div class="row" style="padding: 1em;">
                <label>Bank</label>
                <table class="table  text-nowrap transfer-popup-table" ng-repeat="choice in choices" style="margin-bottom: 0rem;">
                    <thead>
                        <tr>
                            <th class="th-rect"><span class="transfer-half-rectangle"></span></th>
                            <th class="" style="width: 1%;"></th>
                            <th class="">Type</th>
                            <th class="">SUBTANK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="transfer-half-rectangle3"></span>
                            </td>
                            <td>
                                <img style="cursor:pointer; margin-top:0;" class="form-group remove-icon" src="/Resources/Images/remove-icon.png" ng-click="removeChoice(choice.id)" />

                            </td>
                            <td>
                                <input class="form-control" ng-model="choice.name" />
                            </td>
                            <td><input class="form-control" ng-model="choice.name" /></td>
                        </tr>
                    </tbody>

                </table>
                <img class="form-group add-btn" style="cursor:pointer;padding: 0 3em;" ng-click="addNewChoice()" src="/Resources/Images/add-btn.png" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Bank Name</button>
                <button type="button" class="btn btn-primary">Create Delivery Order</button>
            </div>
        </div>
        
    </div>
</section>