 <!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light navbar-root navbar-attendant" >
    
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto navbar-ar">
        <!-- Navbar Search -->
        @*<li class="nav-item">
            <span class="nav-link" ng-click="SignOut()">Sign out</span>
        </li>*@



        <!-- Language Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                {{selectedLanguage}}
            </a>
            <div class="dropdown-menu dropdown-menu-right p-0">
                <a ng-click="goToEnglishLayout('en')" class="dropdown-item active">
                   EN
                </a>
                <a ng-click="goToArabicLayout('ar')" class="dropdown-item">
                     AR
                </a>
            </div>
        </li>

        <li class="nav-item">
            <span class="nav-link dollarRate">1$= {{dollarRate}} L.L</span>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <span style=" background-color: #D80404; color: white; padding: 10px 25px; font-size: 24px; border: none; border-radius: 46px;">  </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-0">
                <a ng-click="SignOut()" class="dropdown-item active">
                    Log out
                </a>
                <a ng-click="lockScreen()" class="dropdown-item">
                    Lock Screen
                </a>
            </div>
        </li>


    </ul>
</nav>
<!-- /.navbar -->
