 <!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light navbar-root" >


    <img src="~/Resources/Images/common/logo.png" class="navBarPOSLogo"/>

    <!-- Left navbar links -->
    <ul class="navbar-nav navbarTopSM">
        @*<li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>*@
        <li class="nav-item d-none d-sm-inline-block">
            <a ui-sref="dashboard" class="nav-link navBarPos navDashItem">DASHBOARD</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a ui-sref="pos" class="nav-link navBarPos navPOSItem">POS</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a ui-sref="inventory" class="nav-link navBarPos navFMSItem">FMS</a>
        </li>

    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto navbarSM" style="align-items: baseline;margin-bottom: 8px;">

        <!-- Language Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="flag-icon  {{addActiveWord}}"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-0">
                <a ng-click="goToEnglishLayout()" class="dropdown-item ">
                    <i class="flag-icon flag-icon-us mr-2"></i> English
                </a>
                <a ng-click="goToArabicLayout()" class="dropdown-item">
                    <i class="flag-icon flag-icon-de mr-2"></i> Arabic
                </a>
            </div>
        </li>
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <img class="far fa-comments" src="~/Resources/Images/common/wifi-icon.png" />
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <span class="pos-menu-rate">1$ = {{dollarRate}} L.L</span>
            </a>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <img class="far fa-bell bell-icon" src="~/Resources/Images/common/notif-icon.png" />
                <span class="badge badge-warning navbar-badge">{{notifications.length}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                @*<span class="dropdown-header">{{notifications.length}}</span>*@
                <div ng-repeat="notif in notifications track by $index">
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> {{notif.title}}
                        <span class="float-right text-muted text-sm">{{notif.date}}</span>
                    </a>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <span style="background-color: #D80404; color: white; padding: 7px 19px; font-size: 19px; border: none; border-radius: 46px;">  </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-0">
                <a ng-click="SignOut()" class="dropdown-item active">
                    Log out
                </a>
            </div>
        </li>


    </ul>
</nav>
<!-- /.navbar -->
