<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 style=" font-family: 'rubikMedium'; margin-left: 0.6em;">{{'EndOfDay' | translate}}</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="">
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-5" style="visibility:hidden;">
                        <span class="transfer-all-box" id="clear-filters"><span id="allTab" class="fas fa-times-circle "></span>&nbsp;{{'All' | translate}}</span>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5 input-group-sm input-group-receipts">
                        <!--<span ng-click="goToHistoryPage()" style="cursor: pointer;margin-right: 4.8em;" class="refund-history-btn">History</span>-->
                        <span ng-click="goToEODForm()" style="cursor: pointer;margin-right: 0em;" class="refund-create-btn">{{'EndOfDay' | translate}}</span>
                    </div>
                </div>

                <div id="eodProducts" class="transfer-items">
                    <div class="col-md-12 pink corncob rebar product-block item card bg-light" ng-repeat="item in eodList track by $index">
                        <div class="card-header text-muted border-bottom-0">

                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-9">
                                    <h2 class="eod-card-title" style="display: inline; font-size: 17px; font-family: 'rubikMedium'; font-weight: 100;">
                                        {{item.id}} -  {{stationManagerName}} -  {{item.creationDate}}
                                    </h2>
                                    <table class="table reception-item-table">
                                        <tr>
                                            <th style="text-align:left">
                                                {{'CreationDate' | translate}}
                                            </th>
                                            <th>
                                                {{'CreatedBy' | translate}}
                                            </th>
                                            <th>
                                                {{'TotalInLebaneseLira' | translate}}
                                            </th>
                                            <th style="border:none;">
                                                {{'TotalInUSD' | translate}}
                                            </th>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left">
                                                {{item.creationDate}}
                                            </td>
                                            <td>
                                                {{item.creator}}
                                            </td>
                                            <td>
                                                {{item.cashLbp}} {{'LL' | translate}}
                                            </td>
                                            <td style="border:none;">
                                                $ {{item.cashUsd}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="showNoData" style=" margin-left: 45%; margin-top: 13%; color: #a7a5a5;font-size: 24px;">
                    <span>{{'noDataFound' | translate}}</span>
                </div>

            </div>
        </div>
    </div>
</div>
