<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content ff">
    <div class="container-fluid">

        <div class="col-12">
            <div class="card-header" style="border-bottom: none;">
                <a ui-sref="pos.eod" class="nav-link back-btn" style=" color: #000;cursor: pointer;padding:0; cursor: pointer;">
                    < Back
                </a>
                <h3 class="receiptInfo-title">End of Day Form</h3>
                <h6 class="receiptInfo-subTitle" style="color: #898888; font-size: 14px; margin-top: 4px; font-weight: 100; font-family: 'rubikMedium';">{{eodId}} - {{stationManagerName}} - {{creationDate}} - {{creationTime}}</h6>
            </div>
        </div>


        <div class="card modal-body" style="margin: 1.7em;">
            <div class="row" style="padding: 1em;">
                <table class="table  text-nowrap transfer-popup-table reception-table-info">
                    <thead>
                        <tr>
                            <th>EOD ID</th>
                            <th class="col-3">CREATED BY</th>
                            <th>CREATION DATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{eodId}}</td>
                            <td>{{stationManagerName}}</td>
                            <td>{{creationDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <span style=" width: 93%; display: block; height: 1px; background: #e5e5e5; margin: 0em 0em 3em 1.3em;"></span>

            <div>
                <div class="row" style="padding: 0 1em;">
                    <div class="col-4" style="border-right: 1px solid #e1e1e1; padding: 0 2em 0em 1em;">
                        <div class="form-group">
                            <label>EOD ID</label>
                            <input class="form-control" disabled value="{{eodId}}" />
                        </div>
                        <div class="form-group">
                            <label style="display: block;font-family: 'rubikRegular'; color: #6F6F6F; font-size: 14px;">Station Manager</label>
                            <input class="form-control" disabled value="{{stationManagerName}}" />
                        </div>
                        <div class="form-group">
                            <label style="display: block; margin-top: 2em; font-family: 'rubikRegular'; color: #6F6F6F; font-size: 14px;">Creation Date</label>
                            <input class="form-control" disabled value="{{creationDate}}" />
                        </div>
                        <div class="form-group">
                            <label style="display: block; margin-top: 2em; font-family: 'rubikRegular'; color: #6F6F6F; font-size: 14px;">Creation Time</label>
                            <input class="form-control" disabled value="{{creationTime}}" />
                        </div>
                    </div>
                    <div class="col-4" style="margin-left: 2em;">
                        <div class="form-group shift-box {{styleShiftFinishedOne}}" ng-click="shiftFuelClicked(1)">
                            <label style="display: block; font-family: 'rubikBold'; font-size: 18px;">Shift 1</label>
                            <span style="display: block; margin-top: 3em; font-family: 'rubikRegular'; color: #c5c4c4; font-size: 14px;">EMPLOYEE NUMBER</span>
                            <span style="display: block; font-family: 'rubikMedium'; color: red;">{{eodObj.numberOfEmployeesShift1}}</span>
                        </div>
                        <div class="form-group shift-box {{styleShiftFinishedTwo}}" ng-click="shiftFuelClicked(2)">
                            <label style="display: block; font-family: 'rubikBold'; font-size: 18px;">Shift 2</label>
                            <span style="display: block; margin-top: 3em; font-family: 'rubikRegular'; color: #c5c4c4; font-size: 14px;">EMPLOYEE NUMBER</span>
                            <span style="display: block; font-family: 'rubikMedium'; color: red;">{{eodObj.numberOfEmployeesShift2}}</span>
                        </div>
                        <div class="form-group shift-box {{styleShiftFinishedThree}}" ng-click="shiftFuelClicked(3)">
                            <label style="display: block; font-family: 'rubikBold'; font-size: 18px;">Shift 3</label>
                            <span style="display: block; margin-top: 3em; font-family: 'rubikRegular'; color: #c5c4c4; font-size: 14px;">EMPLOYEE NUMBER</span>
                            <span style="display: block; font-family: 'rubikMedium'; color: red;">{{eodObj.numberOfEmployeesShift3}}</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group shift-box2 {{styleShiftFinishedKared}}" ng-click="goToKaredAlHassan()">
                            <label style="display: block;">Kared al hassan</label>
                            <!--<span class="cash-title" style="margin-top: 10em; ">BANK</span>
                            <span class="cash-value">342233</span>
                            <span class="cash-value">342233</span>
                            <br />
                            <span class="cash-title">CARDS</span>
                            <span class="cash-value">342233</span>
                            <br />
                            <span class="cash-title">NOUR CARDS</span>
                            <span class="cash-value">342233</span>-->
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group shift-box2 {{styleShiftFinishedPayment}}" ng-click="goToEPayment()">
                            <label style="display: block;">E-Payment</label>
                            <!--<span class="cash-title" style="margin-top: 16em; ">USD</span>
                            <span class="cash-value">342233</span>
                            <br />
                            <span class="cash-title">LBP</span>
                            <span class="cash-value">342233</span>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 " style="margin-right: 2em; ">
                <div style=" display: block; width: 100%; text-align: end;">
                    <span style=" display: inline-block; color: #b3afaf; font-size: 14px;">USD</span>
                    <span style=" color: red; font-size: 14px; font-weight: bold;margin-right: 2em;">$ {{eodObj.cashUsd}}</span>
                    <span style=" display: inline-block; color: #b3afaf; font-size: 14px;">LBP</span>
                    <span style=" color: red; font-size: 14px; font-weight: bold;">{{eodObj.cashLbp}} L.L</span>
                </div>
                <br />
                <button type="button" class="btn printBtn-trans refund-create-btn" style="display: block; margin-top: 2em;    float: left;}" ng-click="clear()">Clear</button>
                <button type="button" class="btn printBtn-trans" style="background:#2A5699; display: block; margin-top: 2em;float: right;" ng-click="createEOD()">Create EOD</button>

            </div>
        </div>
        
    </div>
</section>