<div class="modal-header" id="custom-modal-1">
    <div class="row col-md-12" style="padding: 1em;">
        <div class="col-2">
            <span class="popUp-span-title">{{'ID' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{eodId}}</span>
        </div>
        <div class="col-3">
            <span class="popUp-span-title">{{'CreatedBy' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{stationManagerName}}</span>
        </div>

        <div class="col-3">
            <span class="popUp-span-title">{{'CreationDate' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{creationDate}}</span>
        </div>
        <div class="col-2">
            <span class="popUp-span-title">{{'Shift' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{'Shift' | translate}} {{shiftNumber}}</span>
        </div>
    </div>
    <!--<button type="button" class="close closeBtnPopup" data-dismiss="modal" aria-label="Close" style="margin-right:1em;display: contents;">
        <span aria-hidden="true">&times;</span>
    </button>-->
</div>
<div class="modal-body">

    <label class="eod-label-title">{{'CarWash' | translate}}</label>
    <div class="row col-md-12" style="padding: 2em 0em 1em 1em;">
        <table class="table table-hover text-nowrap dryShiftTable">
            <thead>
                <tr>
                    <th>{{'Name' | translate}}</th>
                    <th>{{'TypeCar' | translate}}</th>
                    <th>{{'quantity' | translate}}</th>
                    <th>{{'Price' | translate}}</th>
                    <th>{{'Total' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in shiftObj.carWashSummaries">
                    <td>{{item.name}}</td>
                    <td>{{item.vehiceType}}</td>
                    <td>{{item.quantityWashedCash}}</td>
                    <td>{{item.currentPriceLbp}} {{'LL' | translate}}/ $ {{item.currentPriceUsd}}</td>
                    <td>{{item.totalCashLbp}} {{'LL' | translate}}/ $ {{item.totalCashUSd}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <label style="margin-top:2em;" class="eod-label-title">{{'EmployeesInsideShift' | translate}}</label>

    <label style="display: block;margin-left:1em;" class="eod-label-title">{{'CarWash' | translate}}</label>
    <div class="row" style="padding: 1em; margin-left: 3em;" ng-repeat="employee in shiftObj.employeeCarWashSummaries">
        <label style="display: block; width:100%" class="eod-label-title">{{'Employee' | translate}} {{$index + 1}}: {{employee.employeeName}}</label>
        <br />
        <table class="table  text-nowrap transfer-popup-table" style="margin-left:1em;margin-bottom: 0 !important;">
            <thead>
                <tr>
                    <th class="th-rect"><span class="transfer-half-rectangle"></span></th>
                    <th class="th-text">{{'quantity' | translate}}</th>
                    <th class="th-text">{{'Total' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="transfer-half-rectangle2"></span></td>
                    <td>{{employee.quantity}}</td>
                    <td>{{employee.totalLbp}} {{'LL' | translate}}/ $ {{employee.totalUsd}}</td>
                </tr>
            </tbody>
        </table>
    </div>




</div>
<div class="modal-footer eod-next-btn">
    <button type="button" class="btn printBtn-trans" style="background:#2A5699" ng-click="goToMoneyCollectPopup()">{{'Next' | translate}}</button>
</div>
