<div class="modal-header" id="custom-modal-1">
    <div class="row col-md-12" style="padding: 1em;">
        <div class="col-2">
            <span class="popUp-span-title">EOD ID</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{eodId}}</span>
        </div>
        <div class="col-3">
            <span class="popUp-span-title">CREATED BY</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{stationManagerName}}</span>
        </div>

        <div class="col-3">
            <span class="popUp-span-title">CREATION DATE</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{creationDate}}</span>
        </div>
        <div class="col-2">
            <span class="popUp-span-title">SHIFT</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">Shift 2</span>
        </div>
    </div>
    <button type="button" class="close closeBtnPopup" data-dismiss="modal" aria-label="Close" style="margin-right:1em;display: contents;">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <label>Car Wash</label>
    <div class="row col-md-12" style="padding: 2em 0em 1em 1em;">
        <table class="table table-hover text-nowrap dryShiftTable">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>VEHICLE TYPE</th>
                    <th>QUANTITY OF WASHED CAR</th>
                    <th>PRICE</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in shiftObj.carWashSummaries">
                    <td>{{item.name}}</td>
                    <td>{{item.vehiceType}}</td>
                    <td>{{item.quantityWashedCash}}</td>
                    <td>{{item.currentPriceLbp}} L.L/ $ {{item.currentPriceUsd}}</td>
                    <td>{{item.totalCashLbp}} L.L/ $ {{item.totalCashUSd}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <label style="margin-top:2em;">Employees Inside this Shift</label>

    <label style="display: block;margin-left:1em;">Car Wash</label>
    <div class="row" style="padding: 1em; margin-left: 3em;" ng-repeat="employee in shiftObj.employeeCarWashSummaries">
        <label style="display: block; width:100%">Employee {{$index + 1}}: {{employee.employeeName}}</label>
        <br />
        <table class="table  text-nowrap transfer-popup-table" style="margin-left:1em;margin-bottom: 0 !important;">
            <thead>
                <tr>
                    <th class="th-rect"><span class="transfer-half-rectangle"></span></th>
                    <th class="th-text">QUANTITY</th>
                    <th class="th-text">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="transfer-half-rectangle2"></span></td>
                    <td>{{employee.quantity}}</td>
                    <td>{{employee.totalLbp}} L.L/ $ {{employee.totalUsd}}</td>
                </tr>
            </tbody>
        </table>
    </div>




</div>
<div class="modal-footer">
    <button type="button" class="btn printBtn-trans" style="background:#2A5699" ng-click="goToMoneyCollectPopup()">Next</button>
</div>
