<div class="modal-header"  id="custom-modal-1" >
    <div class="row col-md-12" style="padding: 1em;">
        <div class="col-2">
            <span class="popUp-span-title">EOD ID</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">0</span>
        </div>
        <div class="col-3">
            <span class="popUp-span-title">CREATED BY</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">rwer</span>
        </div>

        <div class="col-3">
            <span class="popUp-span-title">CREATION DATE</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">rwerw</span>
        </div>
        <div class="col-2">
            <span class="popUp-span-title">SHIFT-1</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">rwerwe</span>
        </div>
    </div>
    <button type="button" class="close closeBtnPopup" data-dismiss="modal" aria-label="Close" style="margin-right:1em;display: contents;">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">


    <div class="row" style="padding: 1em;">
        <div class="col-md-12">
            <!--<label style="margin-top:2em;">First of the Day Cash</label>-->
            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">USD CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>TOTAL USD</td>
                        <td>
                            43242
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">LBP CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>TOTAL LBP</td>
                        <td>
                            43242
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--<label style="margin-top:2em;">End of Day Cash</label>-->

            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">LBP CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-nowrap  shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">LBP CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn printBtn-trans" style="background:#2A5699" ng-click="goToDryShift()">Next</button>
</div>
