<div class="modal-header"  id="custom-modal-1" >
    <div class="row col-md-12" style="padding: 1em;">
        <div class="col-2">
            <span class="popUp-span-title">{{'ID' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{eodId}}</span>
        </div>
        <div class="col-3">
            <span class="popUp-span-title">{{'CreatedBy' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{stationManagerName}}</span>
        </div>

        <div class="col-3">
            <span class="popUp-span-title">{{'CreationDate' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{creationDate}}</span>
        </div>
        <div class="col-2">
            <span class="popUp-span-title">{{'Shift' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{'Shift' | translate}} {{shiftNumber}}</span>
        </div>
    </div>
    <!--<button type="button" class="close closeBtnPopup" data-dismiss="modal" aria-label="Close" style="margin-right:1em;display: contents;">
        <span aria-hidden="true">&times;</span>
    </button>-->
</div>
<div class="modal-body">

    <label class="eod-label-title">{{'FuelSales' | translate}}</label>
    <div class="row col-md-12" style="padding: 2em 0em 1em 1em;" ng-repeat="wet in shiftObj.wetProductSummaries">
        <span style=" width: 100%;font-family: 'rubikMedium'; font-size: 13px;">{{wet.wetProductName}}</span>
        <table class="table table-hover text-nowrap dryShiftTable">
            <thead>
                <tr>
                    <th>{{'NozzleNumber' | translate}}</th>
                    <th>{{'TankNumber' | translate}}</th>
                    <th>{{'InitialCounter' | translate}}</th>
                    <th>{{'closingCounter' | translate}}</th>
                    <th>{{'TotalLitersSold' | translate}}</th>
                    <th>{{'LitersReturned' | translate}}</th>
                    <th>{{'LitersSoldCash' | translate}}</th>
                    <th>{{'UnitPriceLiter' | translate}}</th>
                    <th>{{'TotalAmountCash' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="nozzle in wet.nozzleSummaries">
                    <td>{{nozzle.nozzleNumber}}</td>
                    <td>{{nozzle.tankNumber}}</td>
                    <td>{{nozzle.initialCounter}}</td>
                    <td>{{nozzle.finalCounter}}</td>
                    <td>{{nozzle.totalLittersSold}}</td>
                    <td>{{nozzle.littersReturned}}</td>
                    <td>{{nozzle.totalLittersSoldCash}}</td>
                    <td>{{nozzle.currentUnitPriceOfLitterLbp}} {{'LL' | translate}}/ $ {{nozzle.currentUnitPriceOfLitterUsd}}</td>
                    <td>{{nozzle.totalCashAmountLbp}} {{'LL' | translate}}/ $ {{nozzle.totalCashUsd}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <label class="eod-label-title" style="margin-top:4em;">{{'GasSale' | translate}}</label>
    <div class="row col-md-12" style="padding: 2em 0em 1em 1em;">
        <table class="table table-hover text-nowrap dryShiftTable">
            <thead>
                <tr>
                    <th>{{'ID' | translate}}</th>
                    <th>{{'Name' | translate}}</th>
                    <th class="col-3">{{'LitersSoldCash' | translate}}</th>
                    <th>{{'TotalAmountCash' | translate}}</th>
                    <th>{{'Price' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in shiftObj.gazProductSummaries">
                    <td>{{item.productId}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.quantitySaledCash}}</td>
                    <td>{{item.totalCashLbp}} {{'LL' | translate}}/ $ {{item.totalCashUSd}}</td>
                    <td>{{item.currentPriceLbp}} {{'LL' | translate}}/ $ {{item.currentPriceUsd}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--<label style="margin-top:2em;">Fuel Transaction Done By card</label>
    <div class="row" style="padding: 1em;">
        <table class="table table-hover text-nowrap tableTransPopupDry">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CATEGORY</th>
                    <th>AMOUNT</th>
                    <th>WOP</th>
                    <th>TIME & DATE</th>
                    <th>CURRENCY</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>fds</td>
                    <td>fsd</td>
                    <td>fds</td>
                    <td>fsd</td>
                    <td>fsd</td>
                    <td>sd</td>
                    <td>31231</td>
                </tr>
                <tr>
                    <td>fds</td>
                    <td>fsd</td>
                    <td>fds</td>
                    <td>fsd</td>
                    <td>fsd</td>
                    <td>sd</td>
                    <td>31231</td>
                </tr>
            </tbody>
        </table>
    </div>

    <label style="margin-top:2em;">Fuel Transaction Done By Coupon</label>
    <div class="row" style="padding: 1em;">
        <table class="table table-hover text-nowrap tableTransPopupDry">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CATEGORY</th>
                    <th>AMOUNT</th>
                    <th>WOP</th>
                    <th>TIME & DATE</th>
                    <th>CURRENCY</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>fds</td>
                    <td>fsd</td>
                    <td>fds</td>
                    <td>fsd</td>
                    <td>fsd</td>
                    <td>sd</td>
                    <td>31231</td>
                </tr>
                <tr>
                    <td>fds</td>
                    <td>fsd</td>
                    <td>fds</td>
                    <td>fsd</td>
                    <td>fsd</td>
                    <td>sd</td>
                    <td>31231</td>
                </tr>
            </tbody>
        </table>
    </div>-->


    <label style="margin-top:2em;" class="eod-label-title">{{'EmployeesInsideShift' | translate}}</label>
    <!--<div class="row" style="padding: 1em;">
        <div class="col-md-12">
            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">USD CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">LBP CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">LBP CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-nowrap  shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">LBP CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row" style="padding: 1em;">
        <div class="col-md-12">
            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">USD CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">LBP CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">LBP CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-nowrap  shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">LBP CLASS</th>
                        <th class="th-text">QUANTITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>50000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>10000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <input type="text" class="form-control " />
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>-->

    <div class="row" style="padding: 1em;" ng-repeat="employee in shiftObj.employeeWetProductSummaries">
        <label style="display: block; width:100%" class="eod-label-title">{{'Employee' | translate}} {{$index + 1}}: {{employee.employeeName}}</label>
        <br />
        <label style="display: block;margin-left:1em;" class="eod-label-title">{{'WetProduct' | translate}}</label>
        <table class="table  text-nowrap transfer-popup-table" ng-repeat="wetProduct in employee.employeeWetProducts" style="margin-left:1em;margin-bottom: 0 !important;">
            <thead>
                <tr>
                    <th class="th-rect"><span class="transfer-half-rectangle"></span></th>
                    <th class="th-text">{{'Type' | translate}}</th>
                    <th class="th-text">{{'Litres' | translate}}</th>
                    <th class="th-text">{{'Total' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="transfer-half-rectangle2"></span></td>
                    <td>{{wetProduct.wetProductName}}</td>
                    <td>{{wetProduct.littersAmount}} {{'Litre' | translate}}</td>
                    <td>{{wetProduct.totalLbp}} {{'LL' | translate}}/ $ {{wetProduct.totalUsd}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="modal-footer eod-next-btn">
    <button type="button" class="btn printBtn-trans" style="background:#2A5699" ng-click="goToDryShift()">{{'Next' | translate}}</button>
</div>
