<div class="modal-header" id="custom-modal-1">
    <div class="row col-md-12" style="padding: 1em;">
        <div class="col-2">
            <span class="popUp-span-title">{{'ID' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{eodId}}</span>
        </div>
        <div class="col-3">
            <span class="popUp-span-title">{{'CreatedBy' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{stationManagerName}}</span>
        </div>

        <div class="col-3">
            <span class="popUp-span-title">{{'CreationDate' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{creationDate}}</span>
        </div>
        <div class="col-2">
            <span class="popUp-span-title">{{'Shift' | translate}}</span> <br />
            <span style="font-family: 'rubikRegular'; font-size: 13px;color:#000">{{'Shift' | translate}} {{shiftNumber}}</span>
        </div>
    </div>
    <!--<button type="button" class="close closeBtnPopup" data-dismiss="modal" aria-label="Close" style="margin-right:1em;display: contents;">
        <span aria-hidden="true">&times;</span>
    </button>-->
</div>
<div class="modal-body">


    <div class="row" style="padding: 1em;" ng-repeat="employee in shiftObj.employeeMoneyAmounts">
        <label style="display: block; width:100%">{{'Employee' | translate}} {{$index + 1}}: {{employee.employeeName}}</label>

        <div class="col-md-12">
            <!--<label style="margin-top:2em;">First of the Day Cash</label>-->
            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">{{'usdClass' | translate}}</th>
                        <th class="th-text">{{'quantity' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in employee.moneyAmounts" >
                        <td ng-show="item.isDollar== true">{{item.currencyCardUsd}}</td>
                        <td ng-show="item.isDollar== true">
                            <input type="text" class="form-control" disabled value="{{item.quantity}}" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-nowrap shiftTable">
                <thead>
                    <tr>
                        <th class="th-text">{{'lbpClass' | translate}}</th>
                        <th class="th-text">{{'quantity' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item2 in employee.moneyAmounts" >
                        <td ng-show="item2.isLL== true">{{item2.currencyCardLbp}}</td>
                        <td ng-show="item2.isLL == true">
                            <input type="text" class="form-control" disabled value="{{item2.quantity}}" />
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn printBtn-trans" style="background:#2A5699" ng-click="closeShift1()">{{'save' | translate}}</button>
</div>
