<div class="modal-header">
    <!--<h5 class="modal-title">Invoice Id</h5>-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>-->
</div>
<div class="modal-body">
    <div class="row" style="padding: 1em;">
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{'RefundMethod' | translate}}</label>
                <select class="form-control" ng-options="refund.type for refund in refundTypes" ng-change="refundTypeChanged()" ng-model="refundTypeSelected">
                    <option value="">--{{'select' | translate}}--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 0em 1em 1em 1em;" ng-if="refundTypeSelected.id == '2'">
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'SaleInvoiceID' | translate}}</label>
                <input class="form-control" ng-model="$parent.saleId" />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label class="popUp-span-title" style="visibility:hidden !important">{{ 'TransactionID' | translate}}</label>
                <span class="create-btn-popup" style="display: block;border-radius: 4px; cursor: pointer;    width: 9em;" ng-click="getInfo(saleId)">Get info</span>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 0em 1em 1em 1em;border-bottom: 1px solid #dee2e6;" ng-if="refundTypeSelected.id == '1'">
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'FuelType' | translate}}</label>
                <select class="form-control" ng-options="item for item in wetProductTypes" ng-model="fuelTypeSelected">
                    <option value="">--{{ 'select' | translate}}--</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'CreationDate' | translate}}</label>
                <input class="form-control" ng-model="creationDate" disabled />

            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'CreationTime' | translate}}</label>
                <input class="form-control" ng-model="creationTime" disabled />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'EmployeeName' | translate}}</label>
                <input class="form-control" value="{{employeeNameCalib}}" disabled />
            </div>
        </div>
    </div>


    <div class="row" style="padding: 0em 1em 1em 1em; border-bottom: 1px solid #dee2e6;" ng-if="refundTypeSelected.id == '2'">
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'EmployeeName' | translate}}</label>
                <input class="form-control" value="{{employeeName}}" disabled />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'CreationDate' | translate}}</label>
                <input class="form-control" value="{{creationDate}}" disabled />

            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'CreationTime' | translate}}</label>
                <input class="form-control" value="{{creationTime}}" disabled />

            </div>
        </div>
    </div>


    <div class="row" style="padding: 2em 1em 1em 1em;" ng-if="refundTypeSelected.id == '1'">
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'NozzleNumber' | translate}}</label>
                <!--<input class="form-control" value="{{saleTransaction.nozzleNumber}}" disabled />-->
                <input class="form-control" type="number" ng-model="$parent.nozzleNumberValue"  />

            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'TankNumber' | translate}}</label>
                <input class="form-control" type="number" ng-model="$parent.tankNumber" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{ 'Amount' | translate}}</label>
                <input class="form-control" disabled value="{{saleTransaction.dispensedVolume}}" />

            </div>
        </div>
    </div>

    <div class="row" style="padding: 1em;" ng-if="refundTypeSelected.id == '2'">
        <!--<div class="col-1">
            <span class="popUp-span-title">{{ 'CustomerID' | translate}}</span> <br />
            <span>{{saleInvoice.customerId}}</span>
        </div>-->
        <!--<div class="col-2">
            <span class="popUp-span-title">{{ 'WOP' | translate}}</span> <br />
            <span>{{saleInvoice.wop}}</span>
        </div>-->
        <div class="col-2">
            <span class="popUp-span-title">{{ 'Discount' | translate}}</span> <br />
            <span>{{saleInvoice.discountPercent}}</span>
        </div>
        <div class="col-1">
            <span class="popUp-span-title">{{ 'DOLLAR' | translate}}</span> <br />
            <span>{{dollarPaid}}</span>
        </div>
        <div class="col-1">
            <span class="popUp-span-title">{{ 'LEBANESE' | translate}}</span> <br />
            <span>{{lebanesePaid}}</span>
        </div>
        <div class="col-2">
            <span class="popUp-span-title">{{ 'Total' | translate}} </span> <br />
            <span>{{total}}</span>
        </div>
    </div>


    <div class="row" style="border-top: 1px solid #dee2e6;padding: 1em;" ng-if="refundTypeSelected.id == '2'">
        <table class="table table-hover text-nowrap tableTransPopupDry">
            <thead>
                <tr>
                    <th></th>
                    <th>{{'ItemID' | translate}}</th>
                    <th>{{'ItemName' | translate}}</th>
                    <th>{{'quantity' | translate}}</th>
                    <th>{{'Discount' | translate}}</th>
                    <th>{{'Price' | translate}}</th>
                    <th>{{'Total' | translate}}</th>
                    <th>{{'RefundAmount2' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in saleDetailReturn">
                    <td>
                        <input type="checkbox" class="form-control" ng-model="IsDisabled" />
                    </td>
                    <td>{{item.id}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.discountPercent}}</td>
                    <td>{{item.priceMc}} {{'LL' | translate}}/{{item.priceSc}} $ </td>
                    <td>{{item.netTotalMc}} {{'LL' | translate}}/{{item.netTotalSc}} $ </td>
                    <td>
                        <input type="number" class="form-control" ng-disabled="!IsDisabled" ng-model="refundAmount[$index]" ng-change="refundAmountChanged(item, refundAmount[$index], $index)" />
                    </td>
                </tr>
                <tr style="border:none">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{saleInvoice.discountPercent}}</td>
                    <td></td>
                    <td>{{total}}</td>
                </tr>
            </tbody>
        </table>
    </div>



    <div class="row" style="padding: 1em; border-top: 1px solid #dee2e6;" ng-if="refundTypeSelected.id == '2'">
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title"> {{'WOR' | translate}}</label>
                <select class="form-control">
                    <option>{{'cash' | translate}}</option>
                    <option>{{'card' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">{{'Currency' | translate}}</label>
                <select class="form-control">
                    <option>{{'dollar' | translate}}</option>
                    <option>{{'Lebanese' | translate}} {{'LL' | translate}}</option>
                </select>
            </div>
        </div>
        <!--<div class="col-4">
            <div class="form-group">
                <label class="popUp-span-title">Amount</label>
                <input class="form-control" ng-model="amountDry" />
            </div>
        </div>-->
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default cancel-btn-popup" data-dismiss="modal">{{'Cancel' | translate}}</button>
    <button type="button" class="btn btn-primary create-btn-popup" ng-click="createRefund()">{{'Create' | translate}}</button>
</div>
