<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{'Refunds' | translate}}</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="">
        <div class="card-body">
            <div>
                <!-- Checkboxes: targeted in the JS by class and value set to the class on item you want to filter for -->
                <div class="row col-12 row-refund-ar">
                    <div class="col-6">
                        <span id="clear-filters" class="transfer-all-box"><span class="fa-times-circle"></span>&nbsp;{{'All' | translate}}</span>
                        <label class="transfer-checkbox-label"><input type="checkbox" value="Dry" class="filter-item" />{{'DryProducts' | translate}}</label>
                        <label class="transfer-checkbox-label"><input type="checkbox" value="Calibration" class="filter-item" />{{'Calibration' | translate}}</label>&nbsp;&nbsp;
                    </div>
                    <div class="col-5 input-group-sm input-group-receipts">
                        <span ng-click="createNewFuelRefund()" style="cursor: pointer" class="refund-create-btn">{{'CreateNewRefund' | translate}}</span>
                        <!--<span ng-click="goToHistoryPage()" style="cursor: pointer" class="refund-history-btn">History</span>-->
                    </div>
                </div>

                <div id="products" style="">
                    <div class="pink {{item.type}}  product-block item card" ng-repeat="item in refundsList" ng-click="openRefundInfoPopup(item)">
                        <div class="card-header text-muted border-bottom-0">

                        </div>
                        <div ng-if="item.type == 'Calibration'" class="card-body pt-0">
                            <div class="row">
                                <div class="col-5 div-nozzle">
                                    <span style="font-family: rubikBold; font-size: 15px; ">{{item.id}}</span>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <span class="sub-title-item-refund">{{'RefundMethod' | translate}}</span>
                                                <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;">{{item.type}}</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <span class="sub-title-item-refund" style="margin-top: 0;">{{'EmployeeName' | translate}}</span>
                                            <span class="" style="color:#000;font-family: 'rubikRegular';font-size: 13px;">{{item.creator}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7 nozzle-info">
                                    <span style="font-family: 'rubikMedium'; font-size: 13px;">{{item.fuelType}}, {{item.creationDate}}</span>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <span class="sub-title-item-refund" style="margin-top: 4em;">{{'NozzleNumber' | translate}}</span>
                                                <span class="sub-title-item-refund" style="margin-top: 0.5em;">{{'TankNumber' | translate}}</span>
                                                <span class="sub-title-item-refund" style="margin-top: 0.5em;">{{'VOLUME' | translate}}</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="text-align: end;">
                                            <div class="form-group">
                                                <span class="sub-title-item-refund" style="color:#000;margin-top: 4em;">{{item.nozzleNumber}}</span>
                                                <span class="sub-title-item-refund" style="color:#000;margin-top: 0.5em;">{{item.tankNumber}}</span>
                                                <span class="sub-title-item-refund" style="color:#000;margin-top: 0.5em;">{{item.volume}} {{'Litre' | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="item.type == 'Dry'" class="card-body pt-0" style=" padding-right: 0;">
                            <div class="row" style=" border-bottom: 1px solid #d4d2d2; margin: 0 1em 0 0; padding-bottom: 9px;text-align: justify;">
                                <div class="col-md-4">
                                    <span style="font-family: rubikBold; font-size: 15px; ">{{item.id}}</span>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-5">
                                    <span style="font-family: 'rubikMedium'; font-size: 13px;">{{item.creationDate}}</span>
                                </div>
                            </div>
                            <div class="row" style=" border-bottom: 1px solid #d4d2d2; margin: 0 1em 0 0; padding-bottom: 0px;">
                                <div class="col-md-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <span class="sub-title-item-refund">{{'RefundMethod' | translate}}</span>
                                        <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;">{{item.type}}</span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <span class="sub-title-item-refund">{{'EmployeeName' | translate}}</span>
                                        <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;">{{item.creator}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <span class="sub-title-item-refund">{{'CustomerID' | translate}}</span>
                                        <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;">{{item.customerId}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 9px; margin: 0 1em 0 0;">
                                <div class="col-md-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <span class="sub-title-item-refund" style="margin-top: 0em;">{{'TotalAmount' | translate}}</span>
                                        <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;display: block;">{{item.netTotalMc}}</span>
                                        <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;">{{item.netTotalSc}}</span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                     
                                    <div class="form-group">
                                        <span class="sub-title-item-refund" style="margin-top: 0em;">{{'ReturnedAmount' | translate}}</span>
                                        <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;display: block;">{{item.returnedMc}} {{'LL' | translate}}</span>
                                        <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;">{{item.returnedSc}} $</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                     
                                    <div class="form-group">
                                        <span class="sub-title-item-refund" style="margin-top: 0em;">{{'FinalAmount' | translate}}</span>
                                        <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;display: block;">{{item.netTotalMc - item.returnedMc}}</span>
                                        <span style="color:#000;font-family: 'rubikRegular';font-size: 13px;">{{item.netTotalSc - item.returnedSc}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div ng-show="showNoData" style=" margin-left: 45%; margin-top: 13%; color: #a7a5a5;font-size: 24px;">
                    <span>{{'noDataFound' | translate}}</span>
                </div>

            </div>
        </div>
    </div>
</div>
