<div class="modal-header">
    <h5 class="modal-title">Invoice Id</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row" style="padding: 1em;">
        <div class="col-4">
            <div class="form-group">
                <label>Refund Type</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Refund ID</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Employee Name</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 1em; border-bottom: 1px solid #dee2e6;">
        <div class="col-4">
            <div class="form-group">
                <label>Fuel Type</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Creation Date</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Creation Time</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 1em;">
        <div class="col-4">
            <div class="form-group">
                <label>Nozzle Number</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Tank number</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Amount</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="border-top: 1px solid #dee2e6;padding: 1em;">
        <table class="table table-hover table-bordered text-nowrap">
            <thead>
                <tr>
                    <th>ITEM ID</th>
                    <th>ITEN NAME</th>
                    <th>QUANTITY</th>
                    <th>DISCOUNT</th>
                    <th>PRICE</th>
                    <th>Refund amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>183</td>
                    <td>John Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="tag tag-success">Approved</span></td>
                    <td>50000</td>
                    <td>323</td>
                </tr>
                <tr>
                    <td>219</td>
                    <td>Alexander Pierce</td>
                    <td>11-7-2014</td>
                    <td><span class="tag tag-warning">Pending</span></td>
                    <td>44433</td>
                    <td>444</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="padding: 1em; border-top: 1px solid #dee2e6;">
        <div class="col-4">
            <div class="form-group">
                <label>Fuel Type</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Creation Date</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Creation Time</label>
                <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
    <button type="button" class="btn btn-primary">CREATE</button>
</div>
