<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content ff">
    <div class="container-fluid">

        <div class="col-12">
            <div class="card-header" style="border-bottom: none;">
                <a ui-sref="pos.reception" class="nav-link back-btn" style=" color: #000;cursor: pointer;padding:0; cursor: pointer;">
                    < Back
                </a>
                <h3 class="receiptInfo-title">Reception</h3>
                <!--<h6 class="receiptInfo-subTitle">Receipts ID - Way of Payment - Employee - Amount</h6>-->
            </div>
        </div>


        <div class="card modal-body" style="margin: 1.7em;">
            <div class="row" style="padding: 1em;">
                <table class="table  text-nowrap transfer-popup-table reception-table-info">
                    <thead>
                        <tr>
                            <th>STATION DO ID</th>
                            <th>SENDED BY</th>
                            <th>CREATION DATE</th>
                            <th>DELIVERY DATE</th>
                            <th>SUPPLIER NAME</th>
                            <th class="reception-item-status-filling" style="color: #df960b ; width: 1em;">FILLING</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{reception.id}}</td>
                            <td>{{reception.do_creator}}</td>
                            <td>{{reception.creationDate}}</td>
                            <td>{{reception.deliveryDate}}</td>
                            <td>{{reception.supplierName}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div>
                <label style=" width: 100%; margin-bottom: 0.1em; padding: 1em 1em 0em 1em;">Driver and truck data</label>
                <div class="row" style="padding: 1em;">
                    <table class="table  text-nowrap transfer-popup-table reception-table-info" style=" width: 50%;">
                        <thead>
                            <tr>
                                <th>DRIVER NAME</th>
                                <th>PLATE NUMBER</th>
                                <th>TRANSPORT PARTY</th>
                                <th>
                                    <input style="width: 14em;" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files, 0)" />
                                </th>
                                <th>
                                    <input style="width: 14em;" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files, 1)" />
                                </th>
                                <th>
                                    <input style="width: 14em;" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files, 2)" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{reception.driverName}}</td>
                                <td>{{reception.plateNumber}}</td>
                                <td>{{reception.transportPartyNumber}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-check conformity-check">
                    <input type="checkbox" class="form-check-input"  ng-model="chkStatus" ng-change="showHideDiv()">
                    <label class="form-check-label">NONCONFORMITY</label>
                </div>
                <div ng-show='showhideprop'>
                    <div class="row" style="padding: 0 5em;" ng-repeat="choice in conformities">
                        <div>
                            <img style="cursor:pointer" class="form-group remove-icon" src="/Resources/Images/remove-icon.png" ng-click="removeChoice(choice.id)" />
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Nonconformity Reason</label>
                                <select class="form-control" ng-model="choice.reason" ng-options="item for item in NConfTypes">
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" ng-model="choice.desc" />
                            </div>
                        </div>
                        <!--<button class="btn btn-danger" ng-click="removeChoice(choice.id)" ng-if="choice.id!=index">-</button>-->
                    </div>
                    <img class="form-group add-btn" style="cursor:pointer;padding: 0 3em;" ng-click="addNewChoice()" src="/Resources/Images/add-btn.png" />
                    <!--{{ conformities }}-->
                </div>



            </div>

            <div class="row" style="padding: 1em;">
                <label>DO Information</label>
                <table class="table  text-nowrap transfer-popup-table" ng-repeat="item in reception.fuelAmounts">
                    <thead>
                        <tr>
                            <th class="th-rect"><span class="transfer-half-rectangle"></span></th>
                            <th class="th-text">Type</th>
                            <th class="th-text">SUBTANK</th>
                            <th class="th-text">AMOUNT SENT</th>
                            <th class="th-text">SUB-TANK SIZE</th>
                            <th class="th-text">TOP SIZE</th>
                            <th class="th-text">DOWN SIZE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="transfer-half-rectangle2"></span></td>
                            <td>{{item.wetProductType}}</td>
                            <td>{{item.subTankId}}</td>
                            <td>{{item.productVolume}}</td>
                            <td>{{item.subTankSize}}</td>
                            <td>{{item.subTankUpSize}}</td>
                            <td>{{item.subTankDownSize}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <label style=" width: 100%;margin-bottom: 1.5em;padding: 1em;">Reception Information</label>
                <div class="row" style="padding: 0 1em;" ng-repeat="item in reception.fuelAmounts">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>{{$index + 1}}. Fuel Type</label>
                                <input class="form-control" disabled value="{{item.wetProductType}}-{{'Subtank '+ item.subTankId}} " />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Amount Sent</label>
                                <input class="form-control" disabled value="{{item.productVolume}}" />
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-3 conformity-check form-check">
                            <input type="checkbox" class="form-check-input" ng-model="item.fuel_below_indicator" >
                            <label class="form-check-label" for="exampleCheck1">Missing Amount</label>
                        </div>
                        <div class="col-md-3 form-check">
                            <input type="checkbox" class="form-check-input" ng-model="item.fillingPayedByDriver">
                            <label class="form-check-label" for="exampleCheck1">Payed by Driver</label>
                        </div>
                    </div>
                    <div class="row col-md-12" ng-show='item.fuel_below_indicator'>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">Sale Transaction</label>
                                <select class="form-control"  ng-model="item.selectedTrans" ng-options="item5.id +' - '+ item5.dispensedVolume + ' L - '+ item5.nozzleNumber for item5 in transList">
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="label-reception-info">Missing Amount in Tank Truck</label>
                                <input class="form-control" disabled value="{{item.selectedTrans.dispensedVolume}}" />
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-group">
                                <label class="label-reception-info">TRANSACRION ID</label>
                                <input class="form-control" disabled value="{{item.selectedTrans.id}}" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">ADDED AMOUNT</label>
                                <input class="form-control" disabled value="{{item.selectedTrans.dispensedVolume}}" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">ADDED AMOUNT PRICE</label>
                                <input class="form-control" disabled  value="{{item.selectedTrans.netTotalMc}} L.L/$ {{item.selectedTrans.netTotalSc}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-2">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">Tank</label>
                                <select class="form-control" ng-change="tankNumberSelected(item.tankId,item.subTankId, item.volumeSoldDuringReception)" ng-model="item.tankId" ng-options="item2.id as item2.tankNumber for item2 in tanks">
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">Available Amount</label>
                                <input class="form-control" disabled ng-model="item.volumeBeforeReception" />
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">Added Amount</label>
                                <input class="form-control" ng-model="item.volumeSoldDuringReception" ng-change="validateTankAddedAmount(item.volumeSoldDuringReception, item.productVolume, item.subTankId, item.volumeBeforeReception)"/>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">New Available Amount </label>
                                <input class="form-control" disabled ng-model="item.estVolAfterReception" />
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-2">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">Subtank ID on Valve</label>
                                <select class="form-control" ng-model="item.subTankID_on_valve" ng-options="item3 for item3 in sealTypes">
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">Seal on Valve</label>
                                <select class="form-control" ng-model="item.seal_on_valve" ng-options="item4 for item4 in sealTypes">
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label-reception-info">Seal on Subtank</label>
                                <select class="form-control" ng-model="item.seal_on_subTank_cover" ng-options="item5 for item5 in sealTypes">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="createReception()">Confirm</button>
            </div>
        </div>
        
    </div>
</section>