<section class="content">
    <div>
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill" ng-click="menuItemClicked()">
                        <div class="card-body pt-0">
                            <img src="/Resources/Images/HO/refund-icon.png" class="menu-img" />
                            <span class="menu-img-line"></span>
                            <span class="menu-img-text">Refunds</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-body pt-0">
                            <img src="/Resources/Images/HO/purchase-icon.png" class="menu-img" />
                            <span class="menu-img-line"></span>
                            <span class="menu-img-text">Purchase</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-body pt-0">
                            <img src="/Resources/Images/HO/transfer-icon.png" class="menu-img" />
                            <span class="menu-img-line"></span>
                            <span class="menu-img-text">Transactions</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-body pt-0">
                            <img src="/Resources/Images/HO/receipt-icon.png" class="menu-img" />
                            <span class="menu-img-line"></span>
                            <span class="menu-img-text">Receipts</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-body pt-0">
                            <img src="/Resources/Images/HO/live-icon.png" class="menu-img" />
                            <span class="menu-img-line"></span>
                            <span class="menu-img-text">Live  Sales</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-body pt-0">
                            <img src="/Resources/Images/HO/transfer-icon.png" class="menu-img" />
                            <span class="menu-img-line"></span>
                            <span class="menu-img-text">Transfer</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-body pt-0">
                            <img src="/Resources/Images/HO/report-icon.png" class="menu-img" />
                            <span class="menu-img-line"></span>
                            <span class="menu-img-text">Forms & Report</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-body pt-0">
                            <img src="/Resources/Images/HO/do-icon.png" class="menu-img" />
                            <span class="menu-img-line"></span>
                            <span class="menu-img-text">Delivery Order</span>
                        </div>
                    </div>
                </div>
                    <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-body pt-0">
                                <img src="/Resources/Images/HO/generator-icon.png" class="menu-img" />
                                <span class="menu-img-line"></span>
                                <span class="menu-img-text">Generator</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-body pt-0">
                                <img src="/Resources/Images/HO/pps-icon.png" class="menu-img" />
                                <span class="menu-img-line"></span>
                                <span class="menu-img-text">PPS</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-body pt-0">
                                <img src="/Resources/Images/HO/gsm-inv-icon.png" class="menu-img" />
                                <span class="menu-img-line"></span>
                                <span class="menu-img-text">GSM Inventory </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-body pt-0">
                                <img src="/Resources/Images/HO/fms-icon.png" class="menu-img" />
                                <span class="menu-img-line"></span>
                                <span class="menu-img-text">FMS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>