<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <div class="card-header d-flex">
                            <ul class="nav nav-pills" style=" margin-top: 2em;">
                                <li class="nav-item" ng-click="filterLocation('all')"><a class="nav-link active" href="#tab_1" style="width: auto;" data-toggle="tab">{{ 'All' | translate }}</a></li>
                                <li class="nav-item" ng-repeat="filter in filters" ng-click="filterLocation(filter)"><a class="nav-link" href="#tab_2" data-toggle="tab">{{ filter | translate }}</a></li>
                                <button class="add-new-station" ng-click="createNewStation()">Add a New Station</button>

                                <!-- Actual search box -->
                                <!--<div class="has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search" step="background: #F7F7F7; font-size: 16px;">
            </div>-->
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="card-body pb-0">
                                        <div class="row">
                                            <div class="col-auto" ng-repeat="station in stationsList">
                                                <div class="card main-screen-card-item">
                                                    <div class="card-body pt-0">
                                                        <img src="/Resources/Images/HO/main-screen-logo.png" class="main-screen-img" />
                                                        <span class="main-screen-item-text">{{ station.id }}</span>
                                                        <span class="main-screen-item-text">{{ station.stationManagerName }}</span>
                                                        <span class="main-screen-item-text">{{ station.location }}</span>
                                                        <div style="text-align: center;margin-top: 4px;">
                                                            <img src="/Resources/Images/HO/employee.png" />
                                                            <span class="main-screen-number">10</span>

                                                            <img src="/Resources/Images/HO/dispenser.png" />
                                                            <span class="main-screen-number">8</span>

                                                            <img src="/Resources/Images/HO/truck.png" />
                                                            <span class="main-screen-number">4</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

