<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content ff">
    <div class="container-fluid">

        <div class="col-12">
            <div class="card-header" style="border-bottom: none;">
                <a ui-sref="pos.receipts" class="nav-link" style=" color: #000;cursor: pointer;padding:0; cursor: pointer;">
                    < Back
                </a>
                <h3 class="receiptInfo-title">Reception</h3>
                <span>R1234 -  Supplier Name - Driver Name - TN M123456</span>
            </div>
        </div>


        <div class="card modal-body" style="margin: 1.7em;">
            <div class="row" style="padding: 1em;">
                <table class="table  text-nowrap transfer-popup-table reception-table-info">
                    <thead>
                        <tr>
                            <th>PO ID</th>
                            <th>Sended By</th>
                            <th>Creation Date</th>
                            <th>Creation Date</th>
                            <th>Driver Name</th>
                            <th>Plate number </th>
                            <th>Transport party</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>183</td>
                            <td>John Doe</td>
                            <td>11-7-2014</td>
                            <td><span class="tag tag-success">Approved</span></td>
                            <td>50000</td>
                            <td>50000</td>
                            <td>50000</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" style="padding: 1em;">
                <label>Attachments</label>
                <table class="table  text-nowrap transfer-popup-table">
                    <thead>
                        <tr>
                            <th class="th-rect"><span class="transfer-half-rectangle"></span></th>
                            <th class="th-text">Attachment Type</th>
                            <th class="th-text">Attachment Type</th>
                            <th class="th-text">Attachment Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><input type="text" /></td>
                            <td><input type="text" /></td>
                            <td><input type="text" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" style="padding: 1em;">
                <label>Subtank</label>
                <table class="table  text-nowrap transfer-popup-table">
                    <thead>
                        <tr>
                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                            <th class="th-text">Type</th>
                            <th class="th-text">AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="transfer-half-rectangle2"></span></td>
                            <td>Fuel 98</td>
                            <td>500L</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                            <th class="th-text">Type</th>
                            <th class="th-text">AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="transfer-half-rectangle2"></span></td>
                            <td>500L</td>
                            <td>500L</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                            <th class="th-text">Type</th>
                            <th class="th-text">AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="transfer-half-rectangle2"></span></td>
                            <td>Fuel 98</td>
                            <td>500L</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                            <th class="th-text">Type</th>
                            <th class="th-text">AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Fuel 98</td>
                            <td>500L</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="border-bottom: none;" data-card-widget="collapse">
                            <h3 class="card-title">TR1234  - Driver Name - Plate Number - Transport Party</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="padding: 1em;">
                                <label>Subtank</label>
                                <table class="table  text-nowrap transfer-popup-table">
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>500L</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="border-bottom: none;" data-card-widget="collapse">
                            <h3 class="card-title">TR1234  - Driver Name - Plate Number - Transport Party</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="padding: 1em;">
                                <label>Subtank</label>
                                <table class="table  text-nowrap transfer-popup-table">
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>500L</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="border-bottom: none;" data-card-widget="collapse">
                            <h3 class="card-title">TR1234  - Driver Name - Plate Number - Transport Party</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="padding: 1em;">
                                <label>Subtank</label>
                                <table class="table  text-nowrap transfer-popup-table">
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>500L</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="border-bottom: none;" data-card-widget="collapse">
                            <h3 class="card-title">TR1234  - Driver Name - Plate Number - Transport Party</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="padding: 1em;">
                                <label>Subtank</label>
                                <table class="table  text-nowrap transfer-popup-table">
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>500L</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="transfer-half-rectangle2"></span></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th class="th-rect2"><span class="transfer-half-rectangle"></span></th>
                                            <th class="th-text">Type</th>
                                            <th class="th-text">AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Fuel 98</td>
                                            <td>500L</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-primary">EDIT</button>
            </div>
        </div>
        
    </div>
</section>