<div class="modal-body">
    <div class="row">
        <div class="col-5" style="border-right: 2px solid #dee2e6;">

            <form>
                <div class="card-body">
                    <span class="carWashOptionSpan {{item.styleClass}}" ng-repeat="item in optionsList" ng-click="addCarWashOption(item.id, item.name, item.priceMc, item.priceSc, item)">{{item.name}}</span>
                </div>
            </form>
        </div>
        <div class="col-7">
            <div class="card-body">
                <table class="trans-table-wop table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Car Wash Type</th>
                            <th>Car Wash Option</th>
                            <th>Price(LL)</th>
                            <th>Price($)</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{carWashType}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="item in carWashOptionsList">
                            <td></td>
                            <td>{{item.option}}</td>
                            <td>{{item.priceMc}}</td>
                            <td>{{item.priceSc}}</td>
                            <td>{{item.priceMc}} L.L/$ {{item.priceSc}}</td>
                        </tr>
                    </tbody>
                </table>

                <span class="payDrylineAfterRable"></span>

                <div class="row paytotalLabel">
                    <span class="dryTotalLabel">Total</span>
                    <span class="payDrylineTotal"></span>
                </div>
                <div class="row  paytotalLabelLLAndDolar">
                    <div>
                        <span class="col-md-3 payDryTotal2Label">Total in Lebanese LIra</span>
                        <span class="col-md-3 payDryTotalValue">{{totalLL}} L.L</span>
                    </div>
                    <div style="float:right;">
                        <span class="col-md-3 payDryTotal2Label">Total in Dollar</span>
                        <span class="col-md-3 payDryTotalValue">${{totalDollar}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer wetTransPopupFooter payFooterPopup" ng-init="load()">
    <button type="button" class="btn btn-default clearbtn" data-dismiss="modal" ng-click="clearWashTable()">CLEAR</button>
    <button type="button" class="btn btn-primary nextbtn" ng-click="next()">DONE</button>

</div>
