<!-- Main content -->
<div class="content">
    <div class="container">
        <div class="row main-row-wetMenu">
            <div class="col-lg-4">
                <div class="card main-card-wetMenu" ng-click="displayCarWashTransactionPopup('Car')">
                    <div class="card-body">
                        <img class="carwash-menu-img" src="/Resources/Images/attendant/carWash/car.png" />
                        <span class="card-title carWashMenuSpan">Car</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card main-card-wetMenu" ng-click="displayCarWashTransactionPopup('Jeep')">
                    <div class="card-body">
                        <img class="carwash-menu-img" src="/Resources/Images/attendant/carWash/jeep.png" />
                        <span class="card-title carWashMenuSpan">Jeep</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card main-card-wetMenu" ng-click="displayCarWashTransactionPopup('Bus')">
                    <div class="card-body">
                        <img class="carwash-menu-img" src="/Resources/Images/attendant/carWash/bus.png" />
                        <span class="card-title carWashMenuSpan">Bus</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card main-card-wetMenu" ng-click="displayCarWashTransactionPopup('Trunk')">
                    <div class="card-body">
                        <img class="carwash-menu-img" src="/Resources/Images/attendant/carWash/trunk.png" />
                        <span class="card-title carWashMenuSpan">Trunk</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card main-card-wetMenu" ng-click="displayCarWashTransactionPopup('Motorcycle')">
                    <div class="card-body">
                        <img class="carwash-menu-img" src="/Resources/Images/attendant/carWash/moto.png" />
                        <span class="card-title carWashMenuSpan">Motorcycle</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card main-card-wetMenu" ng-click="displayCarWashTransactionPopup('Other')">
                    <div class="card-body">
                        <img class="carwash-menu-img" src="/Resources/Images/attendant/carWash/other.png" />
                        <span class="card-title carWashMenuSpan">Other</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->